<li class="masonry-brick media-item ">
  <%= image_tag collection.image.url(:media), :class=>"media-image listing_image" %>
  <h3 class="media-heading"><%= title_with_privacy(collection) %></h3>
  <div style="word-break: break-word; display: inline-block;">
    <%= render_markdown truncate(collection.description, length: 300, separator: ' ') %>
  </div>
  <%= link_to '', collection, :class=>"media-view"%>
</li>
