<li class="masonry-brick media-item ">
  <%= image_tag collection.image.url(:media), :class=>"media-image listing_image" %>
  <h3 class="media-heading"><%= title_with_privacy(collection) %></h3>
  <p><%= collection.description  %></p>
  <%= link_to '', collection, :class=>"media-view"%>
</li>




