<li class="masonry-brick media-item long">
  <%= link_to collection, class: 'link-overlay' do %>
    <h4><%= title_with_privacy(collection) %></h4>

    <div class="markdown-description">
      <%= render_sanitized_markdown truncate(collection.description, length: 300, separator: ' ') %>
    </div>
  <% end %>
</li>
