<div class="form-inline associated-resource">
    <span class="icon"><i class="fa {{icon}}"></i></span>
    <div class="form-group">
        <label>Title</label>
        <input data-attribute="title" type="text" class="form-control" placeholder="Title" value="{{title}}">
    </div>
    <div class="form-group">
        <label>URL</label>
        <input data-attribute="url" type="text" class="form-control" placeholder="http://www.example.com/..." value="{{url}}">
    </div>
    <input data-attribute="type" type="hidden" value="{{type}}">
    <a href="#" title="Click to delete" class="delete-associated-resource">&times;</a>
</div>
