<div class="form-inline associated-resource">
    <span class="icon"><i class="fa fa-link"></i></span>
    <div class="form-group">
        <label>Term</label>
        <input data-attribute="title" type="text" class="form-control" placeholder="Type to search for a term..." value="{{term}}">
    </div>
    <input data-attribute="type" type="hidden" value="{{type}}">
    <a href="#" title="Click to delete" class="delete-associated-resource">&times;</a>
</div>
