<li class="ontology-term" data-attribute-label="{{ label }}" data-attribute-url="{{ uri }}">
    {{ label }} <span class="muted">{{ uri }}</span>
    <a href="#" class="delete-list-item">&times;</a>
</li>
