<ul class="unstyled nav-simple">
  <!-- Content provider  -->
  <li><h4 class="nav-heading">What is material?</h4></li>
  <li style="padding: 7px 25px;">
    <p>
      A training material in TeSS is a link to a single online training material sourced by a content provider, such as a text on a Web page, presentation, video, document, etc., along with description and other meta information (e.g. ontological categorization, keywords, etc.).
    </p>
  </li>
</ul>
