<%# Sidebar containing info on content provider, ELIXIR node and user profile associated with this training material.

Variable that should be available
- @material  - trainign material being displayed
%>

<ul class="unstyled nav-simple">
  <% if @material.content_provider.blank? #or @material.node.blank? %>
      <p class="alert alert-info empty" style="margin: 10px;">
        Material has no content provider
      </p>
  <% else %>
      <!-- Content provider  -->
      <li><h4 class="nav-heading">Content provider</h4></li>
      <li style="padding: 7px 25px;">
        <p>
          <%= link_to(image_tag(get_content_provider_logo_url(@material.content_provider)), @material.content_provider) %>
        </p>
        <p>
          <%= link_to @material.content_provider.title, @material.content_provider, :class=>"h5" %>
        </p>
        <% unless @material.content_provider.description.blank?  %>
            <p>
              <%= truncate(@material.content_provider.description, length: 300, separator: ' ') %>
            </p>
        <% end %>
      </li>
  <% end %>
</ul>
