<ul class="unstyled nav-simple">
  <!-- Node  -->
  <li><h4 class="nav-heading"><i class="glyphicon glyphicon-info-sign"></i> What are ELIXIR nodes?</h4></li>
  <li style="padding: 7px 20px;">
    <p>
      ELIXIR is a pan-European research infrastructure consisting of the Hub and a number of, primarily, national nodes that provide services to their local communities.
    </p>
    <p>
      Select a node to find out more about its training events, training provision, staff and member institutions.
    </p>
  </li>
</ul>