# Docker
PREFIX=tess

# Rails
RAILS_ENV=development
SECRET_BASE_KEY=iGO55KWPHpO6zvGltSkX8cT4VzsJGh9U
BASE_URL=http://localhost:3000
HOSTNAME=localhost
CONTACT_EMAIL=email@email.com
SENDER_EMAIL=email@email.com

# Database (db is the docker container name)
DB_HOST=db
DB_NAME=tess
DB_USER=tess
DB_PASSWORD=password

# Seed Admin User
ADMIN_EMAIL=admin@tess.elixir-europe.org
ADMIN_USERNAME=admin_username
ADMIN_PASSWORD=string_password

# SOLR (solr is the docker container name)
SOLR_URL=http://solr:8983/solr/development

# REDIS (redis is the docker container name)
REDIS_URL=redis://redis:6379/1

# API KEYS
RECAPTCHA_SITEKEY=
RECAPTCHA_SECRET=
AAI_CLIENT_ID=
AAI_SECRET=
GOOGLE_MAPS_API_KEY=
GOOGLE_ANALYTICS_CODE=
BIOPORTAL_API_KEY=
BIOSHARING_API_KEY=
FAIRSHARING_API_KEY=