PREFIX=tess
RAILS_ENV=development
DB_HOST=db
DB_NAME=tess
DB_USER=tess
DB_PASSWORD=password
SECRET_BASE_KEY=iGO55KWPHpO6zvGltSkX8cT4VzsJGh9U

ADMIN_EMAIL=tess@tess.com
ADMIN_USERNAME=tess
ADMIN_PASSWORD=password

SOLR_URL=http://solr:8983/solr/development