<section id="faq">
  <h2 class="text-center">Frequently asked questions</h2>
  <dl class="faq">
    <% TeSS::Config.site.dig('home_page', 'faq').each do |key| %>
      <div class="question">
        <dt>
          <h3><div class="expand">+</div><%= t("home.faq.#{key}.q") %></h3>
        </dt>
        <dd style="display: none;">
          <%== raw t("home.faq.#{key}.a") %>
        </dd>
      </div>
    <% end %>
  </dl>
</section>
