<% cache(['home', 'featured_trainer', @featured_trainer]) do %>
  <section id="featured_trainer">
    <div class="tab-content">
      <h2 class="text-center"><%= link_to('Featured trainer', trainers_path, class: 'home-title-link' ) %></h2>
      <ul class="tab-pane fade in active">
        <%= render partial: 'common/masonry_grid', locals: { objects: [@featured_trainer] } %>
      </ul>
    </div>
  </section>
<% end %>

