<% cache(['home', 'latest_materials', @materials]) do %>
  <section id="latest_materials">
    <h2 class="text-center"><%= link_to('Latest materials', materials_path, class: 'home-title-link' ) %></h2>
    <%= render partial: 'common/masonry_grid', locals: { objects: @materials } %>
  </section>
<% end %>
