<section>
  <h2 class="text-center">Providers</h2>

  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="providers-carousel">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-4">
              <a href="#">
                <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/062/original/Ebi_official_logo.png?1653913959" class="img-responsive">
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-4">
              <a href="#">
                <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/094/original/galaxyproject.png?1530281075" class="img-responsive">
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-4">
              <a href="#">
                <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/050/original/38675_web.jpg?1476092978" class="img-responsive">
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-4">
              <a href="#">
                <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/062/original/Ebi_official_logo.png?1653913959" class="img-responsive">
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-4">
              <a href="#">
                <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/094/original/galaxyproject.png?1530281075" class="img-responsive">
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-4">
              <a href="#">
                <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/050/original/38675_web.jpg?1476092978" class="img-responsive">
              </a>
            </div>
          </div>

        </div>
        <a class="left carousel-control" href="#providers-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#providers-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>

  <div class="text-center font-size-lg">
    <p>Want to become one?</p>
    <p>Add your institution’s training to the portal at no cost</p>
    <p><button class="btn-primary btn">Contribute</button></p>
    <!--      TODO: link to the section of the About page-->
  </div>
</section>