<% cache(['home', 'upcoming_events', @events]) do %>
  <section id="upcoming_events">
    <div class="tab-content">
      <h2 class="text-center"><%= 'Upcoming events' %></h2>
      <ul class="tab-pane fade in active">
        <%= render partial: 'common/masonry_grid', locals: { objects: @events } %>
      </ul>
    </div>
  </section>
<% end %>

