<!--<p id="notice"><%#= notice %></p>-->
<div class="row wrapper">
  <div class="col-md-12">
    <h2>Scientific topics</h2>

    <table>
      <thead>
      <tr>
        <th>Preferred label</th>
        <th>Synonyms</th>
        <th>Definitions</th>
        <!--<th>Obsolete</th>-->
        <!--<th>Parents</th>-->
        <!--<th>Created in</th>-->
        <!--<th>Documentation</th>-->
        <!--<th>Prefix iri</th>-->
        <!--<th>Consider</th>-->
        <!--<th>Has alternative</th>-->
        <!--<th>Has broad synonym</th>-->
        <!--<th>Has dbxref</th>-->
        <!--<th>Has definition</th>-->
        <!--<th>Has exact synonym</th>-->
        <!--<th>Has related synonym</th>-->
        <!--<th>Has subset</th>-->
        <!--<th>Replaced by</th>-->
        <!--<th>Saved by</th>-->
        <!--<th>Subset property</th>-->
        <!--<th>Obsolete since</th>-->
        <!--<th colspan="3"></th>-->
      </tr>
      </thead>

      <tbody>
      <% @scientific_topics.each do |scientific_topic| %>
          <tr>
            <td><%= scientific_topic.preferred_label %></td>
            <td><%= scientific_topic.synonyms %></td>
            <td><%= scientific_topic.definitions %></td>
            <!--<td><%#= scientific_topic.obsolete %></td>-->
            <!--<td><%#= scientific_topic.parents %></td>-->
            <!--<td><%#= scientific_topic.created_in %></td>-->
            <!--<td><%#= scientific_topic.documentation %></td>-->
            <!--<td><%#= scientific_topic.prefix_iri %></td>-->
            <!--<td><%#= scientific_topic.consider %></td>-->
            <!--<td><%#= scientific_topic.has_alternative_id %></td>-->
            <!--<td><%#= scientific_topic.has_broad_synonym %></td>-->
            <!--<td><%#= scientific_topic.has_dbxref %></td>-->
            <!--<td><%#= scientific_topic.has_definition %></td>-->
            <!--<td><%#= scientific_topic.has_exact_synonym %></td>-->
            <!--<td><%#= scientific_topic.has_related_synonym %></td>-->
            <!--<td><%#= scientific_topic.has_subset %></td>-->
            <!--<td><%#= scientific_topic.replaced_by %></td>-->
            <!--<td><%#= scientific_topic.saved_by %></td>-->
            <!--<td><%#= scientific_topic.subset_property %></td>-->
            <!--<td><%#= scientific_topic.obsolete_since %></td>-->
            <!--<td><%#= link_to 'Show', scientific_topic %></td>-->
            <!--<td><%#= link_to 'Edit', edit_scientific_topic_path(scientific_topic) %></td>-->
            <!--<td><%#= link_to 'Destroy', scientific_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
<%#= link_to 'New scientific topic', new_scientific_topic_path %>
  </div>
</div>
