---
http_interactions:
- request:
    method: get
    uri: https://feeds.carpentries.org/swc_upcoming_workshops.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 31 Jul 2024 06:10:26 GMT
      Etag:
      - W/"b875d1aa655b1ed4c329b0153d22ee38"
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: ASCII-8BIT
      string: |
        [
          {
            "instructors": "Emmah Kimachas,Christine Markwalter",
            "end_date": "2024-08-01",
            "url": "https://duke-malaria-collaboratory.github.io/2024-07-29-DiscovR/",
            "administrator_id": 343,
            "curriculum": "swc-reproducible-science",
            "venue": "Noble Hotel, Eldoret, Kenya",
            "longitude": 35.29913227710058,
            "slug": "2024-07-29-DiscovR",
            "tag_name": "automated-email,SWC",
            "helpers": null,
            "host_name": "Duke University",
            "country": "KE",
            "latitude": 0.5120956662995352,
            "start_date": "2024-07-29"
          },
          {
            "instructors": "Marie HIDJO,Daniel Adediran,TAJUDEEN AKINOSHO,Didier Barradas-Bautista",
            "end_date": "2024-08-16",
            "url": "https://dexwel.github.io/2024-08-12-NiTheCS-Online",
            "administrator_id": 302,
            "curriculum": "mix-and-match",
            "venue": "The National Institute for Theoretical and Computational Sciences - NITheCS",
            "longitude": 28.0310649004687,
            "slug": "2024-08-12-NiTheCS-Online",
            "tag_name": "automated-email,online,SWC",
            "helpers": null,
            "host_name": "National Institute for Theoretical and Computational Sciences",
            "country": "ZA",
            "latitude": -26.19161850646137,
            "start_date": "2024-08-12"
          }
        ]
  recorded_at: Wed, 02 Jan 2019 20:00:00 GMT
- request:
    method: get
    uri: https://feeds.carpentries.org/amy_curricula.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 31 Jul 2024 06:10:26 GMT
      Etag:
      - W/"a4d69fefb975161609f011b360517b30"
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: ASCII-8BIT
      string: |
        [
          {
            "name": "Data Carpentry (Ecology with Python)",
            "slug": "dc-ecology-python",
            "description": "Our most general purpose workshop. Covers data organization, cleaning, analysis, and plotting (with R or Python). Intended for anyone working with tabular data (data with rows and columns).",
            "carpentry": "DC",
            "active": true,
            "mix_match": false
          },
          {
            "name": "Data Carpentry (Ecology with R)",
            "slug": "dc-ecology-r",
            "description": "Our most general purpose workshop. Covers data organization, cleaning, analysis, and plotting (with R or Python). Intended for anyone working with tabular data (data with rows and columns).",
            "carpentry": "DC",
            "active": true,
            "mix_match": false
          },
          {
            "name": "Data Carpentry (Econo[...]
[...]
