---
http_interactions:
- request:
    method: get
    uri: https://vu-nl.libcal.com/ajax/calendar/list?audience=&c=7052&camps=&cats=&date=2022-01-10&inc=0&page=1&perpage=48
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libcal-eu-1.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":1,"perpage":48,"status":1,"results":[{"id":3826342,"title":"ENDNOTE
        LIGHT","description":"\u003Cp\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-size:11pt\u0022\u003E\u003Cspan
        style=\u0022line-height:normal\u0022\u003E\u003Cspan calibri=\u0022\u0022
        style=\u0022font-family:\u0022\u003E\u003Cspan style=\u0022font-size:10.0pt\u0022\u003E\u003C/span\u003E\u003C/span\u003E\u003C/span\u003E\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E\r\n\r\n\u003Cp\u003E\u003Cspan
        style=\u0022font-size:12pt\u0022\u003E\u003Cspan new=\u0022\u0022 roman=\u0022\u0022
     [...]
