---
http_interactions:
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/?_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://library.maastrichtuniversity.nl/wp-json/>; rel="https://api.w.org/",
        <https://library.maastrichtuniversity.nl/wp-json/wp/v2/pages/39041>; rel="alternate";
        type="application/json", <https://library.maastrichtuniversity.nl/?p=39041>;
        rel=shortlink
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en-US\" prefix=\"og: http://ogp.me/ns#
        fb: http://ogp.me/ns/fb#\">\n<head>\n\t<meta charset=\"UTF-8\" />\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n\t<link rel=\"pingback\" href=\"https://library.maastrichtuniversity.nl/xmlrpc.php\"
        />\n\n\t<script type=\"text/javascript\">\n\t\tdocument.documentElement.className
        = 'js';\n\t</script>\n\t\n\t<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\"
        crossorigin /><script id=\"diviarea-loader\">window.DiviPopupData=window.DiviAreaConfig={\"zIndex\":1000000,\"animateSpeed\":400,\"triggerClassPrefix\":\"show-popup-\",\"idAttrib\":\"data-popup\",\"modalIndicatorClass\":\"is-modal\",\"blockingIndicatorClass\":\"is-blocking\",\"defaultShowCloseButton\":true,\"withCloseClass\":\"with-close\",\"noCloseClass\":\"no-close\",\"triggerCloseClass\":\"close\",\"singletonClass\":\"single\",\"darkModeClass\":\"dark\",\"noShadowClass\":\"no-shadow\",\"altCloseClass\":\"close-alt\",\"popupSelector\":\".et_pb_section.popup\",\"initializeOnEvent\":\"et_pb_after_init_modules\",\"popupWrapperClass\":\"area-outer-wrap\",\"fullHeightClass\":\"full-height\",\"openPopupClass\":\"da-overlay-visible\",\"overlayClass\":\"da-overlay\",\"exitIndicatorClass\":\"on-exit\",\"hoverTriggerClass\":\"on-hover\",\"clickTriggerClass\":\"on-click\",\"onExitDelay\":2000,\"notMobileClass\":\"not-mobile\",\"notTabletClass\":\"not-tablet\",\"notDesktopClass\":\"not-desktop\",\"baseContext\":\"body\",\"activePopupClass\":\"is-open\",\"closeButtonClass\":\"da-close\",\"withLoaderClass\":\"with-loader\",\"debug\":false,\"ajaxUrl\":\"https:\\/\\/library.maastrichtuniversity.nl\\/wp-admin\\/admin-ajax.php\",\"sys\":[]};var
        divimode_loader=function(){\"use strict\";!function(t){t.DiviArea=t.DiviPopup={loaded:!1};var
        n=t.DiviArea,i=n.Hooks={},o={};function r(t,n,i){var r,e,c;if(\"string\"==typeof
        t)if(o[t]){if(n)if((r=o[t])&&i)for(c=r.length;c--;)(e=r[c]).callback===n&&e.context===i&&(r[c]=!1);else
        for(c=r.length;c--;)r[c].callback===n&&(r[c]=!1)}else o[t]=[]}function e(t,n,i,r){if(\"string\"==typeof
        t){var e={callback:n,priority:i,context:r},c=o[t];c?(c.push(e),c=func[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/what-journal-to-publish-in//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/what-journal-to-publish-in/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/what-journal-to-publish-in/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="what-journal-to-publish-in.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QkVHSU46VkNBTEVOREFSDQpWRVJTSU9OOjIuMA0KUFJPRElEOi0vL3dwLWV2ZW50cy1wbHVnaW4uY29tLy82LjMvL0VODQpUWklEOkV1cm9wZS9BbXN0ZXJkYW0NClgtV1ItVElNRVpPTkU6RXVyb3BlL0Ftc3RlcmRhbQ0KQkVHSU46VkVWRU5UDQpVSUQ6MTI5NkBsaWJyYXJ5Lm1hYXN0cmljaHR1bml2ZXJzaXR5Lm5sDQpEVFNUQVJUO1RaSUQ9RXVyb3BlL0Ftc3RlcmRhbToyMDIzMDIxNFQxMTAwMDANCkRURU5EO1[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/search-strategies-for-systematic-and-scoping-reviews-9//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/search-strategies-for-systematic-and-scoping-reviews-9/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/search-strategies-for-systematic-and-scoping-reviews-9/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="search-strategies-for-systematic-and-scoping-reviews-9.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string:[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/endnote-advanced-17//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/endnote-advanced-17/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/endnote-advanced-17/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="endnote-advanced-17.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//wp-events-plugin.com//6.3//EN\r\nTZID:Europe/Amsterdam\r\nX-WR-TIMEZONE:Europe/Amsterdam\r\nBEGIN:VEVENT\r\nUID:1284@library.maastrichtuniversity.nl\r\nDTSTART;TZID=Europe/Amsterdam:20230227T133000\r\nDTEND;TZID=Europe/Amsterdam:20230227T153000\r\nDTSTAMP:20230116T091245Z\r\nURL:https://library.maastrichtuniversity.nl/events/endnote-advanced-17/\r\nSUMMARY:EndNote
        Advanced\r\nDESCRIPTION:This training helps you to get the most out of EndNote
        and make\r\n  your research easier.\r\nATTACH;FMTTYPE=image/jpeg:https://library.maastrichtuniversity.nl/wp-conte\r\n
        nt/uploads/EndNote_Wordmark_TM_RGB_Black.png\r\nCATEGORIES:EndNote advanced
        workshop\r\nEND:VEVENT\r\nBEGIN:VTIMEZONE\r\nTZID:Europe/Amsterdam\r\nX-LIC-LOCATION:Europe/Amsterdam\r\nBEGIN:STANDARD\r\nDTSTART:20221030T020000\r\nTZOFFSETFROM:+0200\r\nTZOFFSETTO:+0100\r\nTZNAME:CET\r\nEND:STANDARD\r\nEND:VTIMEZONE\r\nEND:VCALENDAR<!--
        html is corrupted -->"
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/evaluating-increasing-research-impact-5//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/evaluating-increasing-research-impact-5/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/evaluating-increasing-research-impact-5/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="evaluating-increasing-research-impact-5.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "BEGIN:VCALENDAR\r\nVERSION:2[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/two-day-masterclass-uncomfortable-heritage-at-radboud-university-in-nijmegen//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/two-day-masterclass-uncomfortable-heritage-at-radboud-university-in-nijmegen/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/two-day-masterclass-uncomfortable-heritage-at-radboud-university-in-nijmegen/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="two-day-masterclass-uncomfortable-heritage-at-radboud-university-in-nijmegen.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    bo[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/what-journal-to-publish-in-2//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/what-journal-to-publish-in-2/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/what-journal-to-publish-in-2/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="what-journal-to-publish-in-2.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QkVHSU46VkNBTEVOREFSDQpWRVJTSU9O[...]
[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/an-introduction-to-research-datamanagement-13//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/an-introduction-to-research-datamanagement-13/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/an-introduction-to-research-datamanagement-13/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="an-introduction-to-research-datamanagement-13.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "BEGIN:VCALENDAR\[...]
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/master-thesis-sbe-library-workshop-2//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://library.maastrichtuniversity.nl/events/master-thesis-sbe-library-workshop-2/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://library.maastrichtuniversity.nl/events/master-thesis-sbe-library-workshop-2/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="master-thesis-sbe-library-workshop-2.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QkVHSU46VkNBTEVO[...]
[...]
