---
http_interactions:
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://www.openscience-maastricht.nl/wp-json/>; rel="https://api.w.org/",
        <https://www.openscience-maastricht.nl/wp-json/wp/v2/pages/5738>; rel="alternate";
        type="application/json", <https://www.openscience-maastricht.nl/?p=5738>;
        rel=shortlink
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n\t<meta charset=\"UTF-8\"
        />\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t<link rel=\"pingback\"
        href=\"https://www.openscience-maastricht.nl/xmlrpc.php\" />\n\n\t<script
        type=\"text/javascript\">\n\t\tdocument.documentElement.className = 'js';\n\t</script>\n\t\n\t<title>Events
        | Open Science Maastricht</title>\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\"
        crossorigin /><style id=\"et-divi-open-sans-inline-css\">/* Original: https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext&#038;display=swap
        *//* User Agent: Mozilla/5.0 (Unknown; Linux x86_64) AppleWebKit/538.1 (KHTML,
        like Gecko) Safari/538.1 Daum/4.1 */@font-face {font-family: 'Open Sans';font-style:
        italic;font-weight: 300;font-stretch: normal;font-display: swap;src: url(https://fonts.gstatic.co[...]
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-1-march-2023/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://www.openscience-maastricht.nl/wp-json/>; rel="https://api.w.org/",
        <https://www.openscience-maastricht.nl/?p=6356>; rel=shortlink
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASC[...]
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-1-march-2023//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.openscience-maastricht.nl/events/fair-coffee-lecture-1-march-2023/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-1-march-2023/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="fair-coffee-lecture-1-march-2023.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QkVHSU46VkNBTEVOREFSDQpWRVJTSU9OOjIuMA0KUFJPRElEOi0vL3dwLWV2ZW50cy1wbHVnaW4uY29tLy81Ljk5NDIvL0VODQpUWklEOkV1cm9wZS9BbXN0ZXJkYW0NClgtV1ItVElNRVpPTkU6RXVyb3BlL0Ftc3RlcmRhbQ0KQkVHSU46VkVWRU5UDQpVSUQ6MjFAb3BlbnNjaWVuY2UtbWFhc3RyaWNodC5ubA0KRFRTVEFSVDtUWklEPUV1cm9wZS9BbXN0ZXJkYW06MjAyMzAzMDFUMTEwMDAwDQpEVEVORDtU[...]
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-12-april-2023/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://www.openscience-maastricht.nl/wp-json/>; rel="https://api.w.org/",
        <https://www.openscience-maastricht.nl/?p=6358>; rel=shortlink
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: AS[...]
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-12-april-2023//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.openscience-maastricht.nl/events/fair-coffee-lecture-12-april-2023/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-12-april-2023/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="fair-coffee-lecture-12-april-2023.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QkVHSU46VkNBTEVOREFSDQpW[...]
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-24-may-2023/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://www.openscience-maastricht.nl/wp-json/>; rel="https://api.w.org/",
        <https://www.openscience-maastricht.nl/?p=6360>; rel=shortlink
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCI[...]
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-24-may-2023//ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.openscience-maastricht.nl/events/fair-coffee-lecture-24-may-2023/ical/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 01 Jan 2019 00:00:00 GMT
- request:
    method: get
    uri: https://www.openscience-maastricht.nl/events/fair-coffee-lecture-24-may-2023/ical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="fair-coffee-lecture-24-may-2023.ics"
      Content-Type:
      - text/calendar; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        QkVHSU46VkNBTEVOREFSDQpWRVJT[...]
