---
http_interactions:
- request:
    method: get
    uri: https://oai-pmh.tesshub.space/oai-pmh?verb=Identify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      From:
      - test@example.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Etag:
      - W/"0bcac93baeefbfbe7c7335e2fb044adf-gzip"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet type="text/xsl" href="/oai2xhtml.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-07-22T09:37:47Z</responseDate>
          <request verb="Identify">https://tesshub.space/oai-pmh</request>
          <Identify>
            <repositoryName>TeSSHub</repositoryName>
            <baseURL>https://tesshub.space/oai-pmh</baseURL>
            <protocolVersion>2.0</protocolVersion>
            <adminEmail>contact@example.com</adminEmail>
            <earliestDatestamp>2026-07-21T12:59:13Z</earliestDatestamp>
            <deletedRecord>transient</deletedRecord>
            <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
            <description>
              <oai-identifier xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai-identifier http://www.openarchives.org/OAI/2.0/oai-identifier.xsd">
                <scheme>oai</scheme>
                <repositoryIdentifier>tesshub.space</repositoryIdentifier>
                <delimiter>:</delimiter>
                <sampleIdentifier>oai:tesshub.space:142</sampleIdentifier>
              </oai-identifier>
            </description>
            <description>
              <tess-instance xmlns="http://tess.elixir-europe.org/xmlns" />
            </description>
          </Identify>
        </OAI-PMH>
  recorded_at: Wed, 22 Jul 2026 09:37:47 GMT
recorded_with: VCR 6.2.0
