---
http_interactions:
- request:
    method: post
    uri: https://www.utwente.nl/wh_services/utwente_base/rpc/GetNEOItems
    body:
      encoding: UTF-8
      string: '{"id":1,"method":"GetNEOItems","params":[414426,"event","",null,{"skip":0,"archive":false,"tag":0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":null,"id":1,"result":{"archive":false,"items":[{"addthisdata":{"allday":false,"description":"<p
        class=\"normal\">Our world today is plagued by numerous wars and conflicts.<\/p>","enddate":"22/09/2026
        21:00","startdate":"22/09/2026 19:30"},"dateformatted":"Tue 22 Sep 2026 19:30
        - 21:00","description":"Our world today is plagued by numerous wars and conflicts.","id":996952,"link":"https://www.utwente.nl/en/about-us/news-events-ceremonies/events/2026/9/996952/lets-make-peace-work","location":"Vrijhof
        - Amphitheater","photoalt":"","photolink":"https://utwente.becdn.net/.wh/ea/uc/i0/data.avif","photolink_2x":"https://utwente.becdn.net/.wh/ea/uc/i1/data.avif","subtitle":"Lecture","summaryphotoalt":"","summaryphotolink":"https://utwente.becdn.net/.wh/ea/uc/i2/data.avif","summaryphotolink_2x":"https://utwente.becdn.net/.wh/ea/uc/i3/data.avif","tags":[{"filter":"categories","id":417879,"tag":"Studium
        Generale"}],"title":"Let’s make peace work"}],"links":[{"id":996952,"suburl":"2026/9/996952/lets-make-peace-work"}],"moreitems":true,"skip":0,"tag":0,"totalresults":2}}'
  recorded_at: Wed, 16 Sep 2026 12:00:00 GMT
[...]
