---
http_interactions:
- request:
    method: post
    uri: https://vu.nl/api/search
    body:
      encoding: UTF-8
      string: '{"filter":"ItemType/any(c: search.in(c, ''Study'', ''|'')) and ItemType/any(c:
        search.in(c, ''PhD'', ''|'')) and Language eq ''EN''","search":"*","skip":0,"top":1000}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '2020-06-30'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time-Ms:
      - '165'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://vusearch.search.windows.net/indexes(''vuweb'')/$metadata#docs(*)","value":[{"@search.score":1.0,"Id":"EN_a7627bf5-e8a9-4d6e-886a-4628fcf0db9f","Language":"EN","ItemType":["All","Study","PhD"],"IconType":"Microscope","Url":"/en/education/phd-courses/analytical-tools-and-the-study-of-the-bible","Scopes":["onderwijs","onderzoek"],"ImplicitFilter":[],"Filter":["opleidingstaal--en","graduate_schools--religion_and_theology","ectrange--4_6"],"GenericFilter":[],"Title":"Analytical
        Tools and the Study of the Bible ","SubTitle":null,"IntroText":"This interdisciplinary
        course deals with the interpretation and analysis of the biblical source texts
        with computational tools. ","SearchableContent":"Analytical Tools and the
        Study of the Bible This relates to computational linguistic research as this
        is done with the ETCBC database and its representation in SHEBANQ and Text-Fabric,
        to computer-tools used in Bible Translation, such as the UBS package Paratext,
        and to computer tools for stylistic analysis such as the Tiberias Stylistic
        Classifier for Biblical Hebrew. Name of teacher: Prof. dr. Van Peursen\u00a0\u00a0\n  Language:
        english\n  ECTS: 6\n  Academic skill: Discipline related\n  Graduate School:
        FRT\n  Discipline: Religion and Theology\u00a0\n  In class/online: In class\u00a0\n  Including
        assessment: yes\n  Start date: period 1\n  End date: period 1\n  With certificate:
        no\n  Assessment type:\u00a0\n \n  Tasks during the course (reflections on
        articles studied in the course preparation; assignments in SHEBANQ, Text-Fabric
        and Paratext and Tiberias:\u00a0\n  30% Paper at end of course in which the
        student applies digital tools to a specific case from the Old Testament or
        the New Testament: 70%\u00a0\n \n  Admission criteria: Students are required
     [...]
