<%- model_class = Node -%>
<div class="row wrapper">
  <div class="col-md-12">
    <div class="page-header">
      <%= page_title(t('.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize.downcase)) %>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-push-8">
        <%= render :partial => 'nodes/partials/general_node_info' %>
      </div>
      <div class="col-md-8 col-md-pull-4">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
