<p id="notice"><%= notice %></p>

<h1> Search </h1>
<%= render partial: 'search/bar' %>

<% if !@results.nil? %>
  <% @results.each do |model, objects| %>
    <% if !objects.empty? %>
      <h1> <%= model %> </h1>
	<% objects.each do |object| %>
	      <p> <%#= render partial: model.to_s.singularize, :material => object %> </p>
	      <p> <%= render partial: object %> </p>
	<% end %>
    <% end %>
  <% end %>
<% else %>
  No results found
<% end %>


