<% if !activity.parameters.empty? %>
    <div class="activity-box-indented">
      <i class="fa fa-pencil-square-o"></i>

      <% if activity.owner %>
          <%= link_to activity.owner.username, activity.owner %>
      <% end %>

      <strong> Added Material</strong>
      <%= link_to activity.parameters[:material].title, activity.parameters[:material] %>
      <strong> To Package </strong>
      <%= link_to activity.parameters[:package].title, activity.parameters[:package] %>
    </div>
<% end %>
