/* Bootstrap variable tweaks */

/* For reference, see:
     https://github.com/twbs/bootstrap-sass/blob/3.2-stable/assets/stylesheets/bootstrap/_variables.scss */

/* ### Pre-load tweaks. Anything that will effect Bootstrap's derived variables needs to be declared here */

/* Copy and edit the default theme to style TeSS, then replace the @import below with the path to your theme */
@import "../themes/traininghub";

/* ### End pre-load tweaks */
@import "bootstrap/variables";

/* ### Post-load tweaks. Anything dependant on Bootstrap's variables needs to be declared below here */

// Extended font sizes
$font-size-xs: 8px;
$font-size-xxs: 4px;
