/* Bootstrap variable tweaks */

/* For reference, see:
     https://github.com/twbs/bootstrap-sass/blob/3.2-stable/assets/stylesheets/bootstrap/_variables.scss */

/* ### Pre-load tweaks. Anything that will effect Bootstrap's derived variables needs to be declared here */

/* Copy and edit the default theme to style TeSS, then replace the @import below with the path to your theme */
@import "../themes/modern";

/* ### End pre-load tweaks */
@import "bootstrap/variables";

/* ### Post-load tweaks. Anything dependant on Bootstrap's variables needs to be declared below here */

/* collapse navbar on md and smaller screens */
$grid-float-breakpoint: $screen-md-min;
$grid-float-breakpoint-max: $grid-float-breakpoint - 1;
