<% show_last_scraped_filter = resource_type.method_defined?(:last_scraped) %>
<% show_hidden_filter = resource_type.method_defined?(:user_requires_approval?) %>

<% if show_last_scraped_filter || show_hidden_filter %>
  <ul class="unstyled nav-simple">
    <li>
      <h4 class="nav-heading mt-4">
        Curate
      </h4>
    </li>

    <% if show_last_scraped_filter %>
      <li class="sidebar-group mt-4">
        <ul>
          <li>
            <div class="nav-heading filter-heading">
              <span class="icon icon-lg events-icon"></span>
              <span>Last Checked</span>
              <div class="pull-right filter-expand"><i class="icon icon-md expand-icon"></i></div>
            </div>
          </li>
          <% [[1, '1 day'], [3, '3 days'], [7, '1 week'], [30, '1 month']].each do |days, text| %>
            <% text = "More than #{text} ago" %>
            <% if days == params[:days_since_scrape].to_i %>
            <li class="nav-item active" style="display: none;">
              <%= remove_filter_link(:days_since_scrape, days, title: text, replace: true, class: 'facet-option') %>
            </li>
          <% else %>
            <li class="nav-item" style="display: none;">
              <%= filter_link(:days_since_scrape, days, '', title: text, replace: true, class: 'facet-option') %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </li>
    <% end %>

    <% if show_hidden_filter %>
      <%= render partial: 'search/common/facet_sidebar_boolean_filter', locals: { facet_field: 'include_hidden',
                                                                                  count: '-',
                                                                                  enable_text: 'Show hidden items',
                                                                                  disable_text: 'Hide hidden items' } %>
    <% end %>
  </ul>
<% end %>
