<%# Sidebar containing filterable facets.

Parameters:
- resources     - SOLR object containing results and metadata about search as returned from materials#index

Variable that should be available
- @facet_fields  - List of all facets supported by this resource type
- @facet_params  - The facet filters the user has applied
%>
<h3 class="nav-heading" id="sidebar-header">
  <i class="fa fa-filter"></i> Filters
  <a href="#" class="pull-right" id="sidebar-close">&times;</a>
</h3>

<% local_assigns.fetch :resource_type, 'result' %>

<% if resources.blank? or resources.results.blank? %>
    <p class="alert alert-info empty" style="margin: 10px;">
      No <%= resource_type.humanize.pluralize.downcase %> to filter
    </p>
<% else %>
    <ul class="unstyled nav-simple">
      <% @facet_fields.each do |facet_field| %>
          <% if IGNORED_FILTERS.include?(facet_field)   %>
            <!-- no filtering for <%= facet_field -%> -->
          <% elsif facet_field == 'online' %>
              <%= render :partial => 'search/common/facet_sidebar_boolean_filter.html.erb',
                         :locals => {:facet_field => facet_field,
                                     :resources => resources} %>
          <% else %>
              <%= render :partial => 'search/common/facet_sidebar_filter.html.erb',
                         :locals => {:facet_field => facet_field,
                                     :resources => resources} %>
          <% end %>
      <% end %>
    </ul>
<% end %>
