<%# for things like 'online' or for_profit. Check the box sets it as false.  %>
<% facet_field = facet.field_name.to_s %>

<%# Title %>
<li>
  <h4 class="nav-heading">
    <%= case facet_field
        when 'user'
          'Owner'
        when 'organizer'
          'Organiser'
        else
          facet_field.humanize.singularize
        end -%>
  </h4>
</li>

<% facet = facet.rows.first %>

<%# Display all filter links %>
<% if @facet_params.include?(facet_field)  %>
    <%= remove_filter_link(:online, 'true') do %>
        <li class="nav-item">
          <input type="checkbox" checked> Show all events </input>
        </li>
    <% end %>
<% else %>
    <%= filter_link(:online, 'true', facet.count) do %>
        <li class="nav-item active">
          <input type="checkbox"> Only show online events </input>
        </li>
    <% end %>
<% end %>
