
<%#
Parameters
- resource_path - the path to the route to perform the search e.g. materials_path, events_path
%>
<div class="resource_search_box">
  <%= form_tag resource_path, :method => :get do %>
    <p>
      <%= text_field_tag :q, params[:q], :class=>'search_box_large', :placeholder => "Enter search term..." %>
      <%= submit_tag "Search", :name => nil, :class=>"icon-search" %>
    </p>
  <% end %>
</div>
