<%#
Parameters
- resources - The SOLR object containing .results and metadata about a search. Returned by e.g. materials/index events/index
Globals
@facet_params
@query_params
%>

<%# FILTERS APPLIED %>
<% @facet_params.each_with_index do |(category, value), i| %>
  <p>
    <b><%= case category
           when 'name'
             params[:controller] == 'nodes' ? 'Node'.pluralize(value.kind_of?(Array) ? value.length : 1) : category.humanize
           when 'organizer'
             'Organiser'
           else
             category.humanize
           end %></b>:
    <% if value.is_a?(Array) %>
      <% value.each_with_index do |val, j| %>
              <span class="active-filters">
                <%= remove_filter_link(category, val, { :class => "label label-default filter-button" }) %>
                <% if j < value.size - 1 %>
                  or
                <% end %>
              </span>
      <% end %>
    <% else %>
      <span class="active-filters"><%= remove_filter_link(category, value, { :class => "label label-default filter-button" }) %></span>
    <% end %>
  </p>
  <% if i < @facet_params.size - 1 %>
    <p>and</p>
  <% end %>
<% end %>

<%# The search term %>
<% unless params[:q].blank? %>
  <p>
    <b>Search query</b>:
    <span class="active-filters"><%= remove_filter_link('q', params[:q], { class: "label label-default filter-button" }) %></span>
  </p>
<% end %>
