<%#
Parameters 
- resources - The SOLR object containing .results and metadata about a search. Returned by e.g. materials/index events/index
Globals
@facet_params
@query_params
resource_type - type of result objects returned by SOLR, may or may not be passed
%>

<% local_assigns.fetch :resource_type, 'result' %>
<%# RESULTS COUNT %>
<div class="search-results-count">
  <%= pluralize( resources.total, resource_type.humanize.downcase ) %> found
</div>
