<%#
Parameters
- resource_path - the path to the route to perform the search e.g. materials_path, events_path or general search_path
%>

<% placeholder = "Search" + (params[:controller]=='search' ? '...' : " " + params[:controller].humanize(capitalize: false) + "...") %>

<%= form_tag resource_path, :role=>"form", :method => :get, :enforce_utf8 => false do %>
    <div class="input-group responsive-search-box">
      <%= text_field_tag "q", params[:q], :class => 'form-control', :placeholder => placeholder %>
      <div class="input-group-btn">
        <button id="search-link" class="btn btn-default">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
<% end %>
