<%#
Parameters
- resources - The SOLR object containing .results and metadata about a search. Returned by e.g. materials/index events/index
Globals
@facet_params
@query_params
%>

<!-- FILTERS APPLIED -->
<% @facet_params.each do |category, value| %>
		<p>
			<b><%= category.humanize %></b>:
			<% if value.is_a?(Array)%>
					<% value.each do |val| %>
							<span><%=remove_filter_link(category, val, {:class =>"btn btn-default"})%></span>
					<% end %>
			<% else %>
					<span><%=remove_filter_link(category, value, {:class =>"btn btn-default filter-button"})%></span>
			<% end %>
		</p>
<% end %>