<%#
Parameters
- resource_path - the path to the route to perform the search e.g. materials_path, events_path or general search_path
%>

<% placeholder ||= "Search..." %>

<div class="searchbox-sm">
  <%= form_tag resource_path, role: 'form', method: :get, enforce_utf8: false do %>
    <div class="searchbox-wrapper">
      <%= text_field_tag 'q', params[:q], class: 'searchbox-field', placeholder: placeholder %>
      <button type="submit" class="searchbox-btn">
        <i class="icon icon-h4 search-icon"></i>
      </button>
    </div>
  <% end %>
</div>
