<%#
Parameters:
Extras - Array of Arrays with options for select
e.g.
 [['Earliest', 'early'], ['Latest', 'late']]
%>
<% extras = extras || false %>

<% options = [['Title Ascending', 'asc'],
              ['Title Descending', 'desc'],
              ['Last Modified', 'mod'],
              ['Relevance', 'rel']] %>

<% if extras %>
    <% extras.each do |extra| %>
        <% options.push(extra) %>
    <% end %>
<% end %>

<form class="form-inline">
  <div class="form-group">
    <label for="order_by">Sort by:</label>
    <%= select_tag(:sort, options_for_select(
        options, @sort_by),
                   :onchange  => "redirect_to_sort_url()", :class => "form-control")
    %>
  </div>
</form>