<%#
Parameters:
Extras - Array of Arrays with options for select
e.g.
 [['Earliest', 'early'], ['Latest', 'late']]
%>
<% if defined? extras %>
    <% extras = extras.reverse! || false %>
<% end %>

<% options = [
    ['Title ascending', 'asc'],
    ['Title descending', 'desc'],
    ['Last modified', 'mod'],
  # ['Relevance', 'rel']
] %>

<% if extras %>
    <% extras.each {|extra| options.push(extra)} %>
    <% options.reverse! %>
<% end %>

<div class="sidebar-group">
<ul class="unstyled nav-simple">
  <li><h4 class="nav-heading"><span class="icon icon-lg icon-greyscale sort-icon"></span> Sort</h4></li>

        <%= select_tag(:sort, options_for_select(
            options, @sort_by),
                       :onchange => "redirect_to_sort_url()", :class => "form-control facet-select")
        %>
</ul>
</div>