<%#
Parameters:
Extras - Array of Arrays with options for select
e.g.
 [[t('sidebar.sort.values.earliest'), 'early'],
  [t('sidebar.sort.values.latest'), 'late']]
%>
<% if defined? extras %>
    <% extras = extras.reverse! || false %>
<% end %>


<% options = [
    [t('sidebar.sort.values.title_ascending'), 'asc'],
    [t('sidebar.sort.values.title_descending'), 'desc'],
    [t('sidebar.sort.values.last_modified'), 'mod'],
  # [t('sidebar.sort.values.relevance'), 'rel']
] %>

<% if extras %>
    <% extras.each {|extra| options.push(extra)} %>
    <% options.reverse! %>
<% end %>

<ul class="unstyled nav-simple facet-sort-wrap">
  <li><h4 class="nav-heading"><%= t('sidebar.sort.heading') %></h4></li>
  <li class="sidebar-group">
    <ul>
      <li class="facet-sort-group">
        <span class="icon icon-lg sort-icon facet-sort-icon"></span>
        <%= select_tag(:sort, options_for_select(options, @sort_by),
                       onchange: 'redirect_to_sort_url()', class: 'form-control facet-select font-size-sm facet-sort')
        %>
      </li>
    </ul>
  </li>
</ul>
