<%#
Parameters:
Extras - Array of Arrays with options for select
e.g.
 [['Earliest', 'early'], ['Latest', 'late']]
%>
<% if defined? extras %>
    <% extras = extras.reverse! || false %>
<% end %>

<% options = [
    ['Title ascending', 'asc'],
    ['Title descending', 'desc'],
    ['Last modified', 'mod'],
  # ['Relevance', 'rel']
] %>

<% if extras %>
    <% extras.each {|extra| options.push(extra)} %>
    <% options.reverse! %>
<% end %>

<form class="form-inline pull-right">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i title="Sort by" class="fa fa-sort-amount-asc" aria-hidden="true"></i></span>
      <%= select_tag(:sort, options_for_select(
          options, @sort_by),
                     :onchange => "redirect_to_sort_url()", :class => "form-control")
      %>
    </div>
  </div>
</form>