<li data-id="{{ item.id }}">
    <input type="hidden" name="{{ prefix }}" value="{{ item.id }}" />
    {{ item.name }}
    <a href="#" class="clear-autocompleter-singleton delete-icon">&times;</a>
</li>
