<li data-id="{{ item.id }}">
    <input type="hidden" name="{{ prefix }}[]" value="{{ item.id }}" />
    {{ item.title }}
    <a href="#" class="delete-list-item btn btn-icon">
        <i class="icon cross-icon icon-sm icon-greyscale"></i>
    </a>
</li>
