<li data-id="{{ item.id }}">
    <input type="hidden" name="{{ prefix }}" value="{{ item.id }}" />
    {{ item.title }}
    <a href="#" class="clear-autocompleter-singleton btn btn-icon">
        <i class="icon cross-icon icon-sm icon-greyscale"></i>
    </a>
</li>
