<div class="container mt-4">
  <h3 style="text-align: Left;"> <%= image_tag(asset_path("scilifelab/resourcesicon-black.png"), alt: "community", size: "40x40") %> Our courses </h3>
  <br>
  

    <div class="field">
      <div class="row">
        <!-- Left Side: Image -->
        <div class="col-md-5 custom-image-col">
          <%= image_tag(asset_path("scilifelab/traininghub-bookshelf.png"), alt: "fair", class: "custom-image") %>
        </div>
  
        <!-- Right Side: One larger box -->
        <div class="col-md-7">
          <div class="course-text">
            <p>
              The Training Hub has developed and co-created courses that specifically help 
              the community of experts in our ecosystem to effectively deliver their 
              knowledge and foster an environment of continuous learning!
            </p>
            <p>
              The courses we currently offer are:
            </p>
            <br>
            <div class="courses-box">
              <div class="row">
                <!-- Image Section -->
                <div class="col-md-2">
                  <%= image_tag(asset_path("scilifelab/resourcesicon.png"), alt: 'guide', size: '60x60') %>
                </div>
                <!-- Text Section -->
                <div class="col-md-10">
                  <b>Train-the-Trainer</b>
                  <br>
                  <p>
                  A course in foundational pedagogics for life scientists and allied professionals. 
                  Next offering 2024
                  </p>
                </div>
              </div>
            </div>

            <div class="courses-box">
              <div class="row">
                <!-- Image Section -->
                <div class="col-md-2">
                  <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'guide', size: '50x60') %>
                </div>
                <!-- Text Section -->
                <div class="col-md-10">
                  <b>Organizational Learning</b>
                  <br>
                  <p>
                    A course on developing learning at the institutional level. 
                    Coming April 2024.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


</div>
