<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edge-modal-title" id="edge-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edge-modal-title">Edit edge</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="edge-modal-form-label">Label</label>
          <input type="text" class="form-control" id="edge-modal-form-label" placeholder="Label">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="edge-modal-form-close">Close</button>
        <button type="button" class="btn btn-primary" id="edge-modal-form-confirm">Done</button>
      </div>
    </div>
  </div>
</div>
