<li class="masonry-brick media-item long">
  <a class="link-overlay" href="<%= workflow_path(workflow) %>">

  <div>
    <div class="masonry-brick-heading">
      <div class="masonry-icons">
        <% if current_user&.is_admin? %>
          <%= suggestion_icon(workflow) %>
        <% end %>
      </div>
      <h4>
        <%= title_with_privacy(workflow) %>
      </h4>
    </div>
    <div style="word-break: break-word; display: inline-block;">
      <%= render_sanitized_markdown truncate(workflow.description, length: 300, separator: ' ') %>
    </div>
  </div>
  </a>
</li>
