<% editable ||= false %>
<div class="wrapper" id="cy"></div>
<script>
  <%# TODO: Move all this into a special JS file. Render the workflow as JSON in a script element, and load via JS %>
  $(document).ready(function () {
    var cy = window.cy = cytoscape({
      container: document.getElementById('cy'),
      elements: <%= workflow.workflow_content ? workflow.workflow_content['elements'].to_json.html_safe : 'null' %>,
      layout: {
        name: 'preset',
        padding: 20
      },
      style: [
        {
          selector: 'node',
          css: {
            'shape': 'roundrectangle',
            'content': 'data(short_name)',
            'background-color': 'data(color)',
            'text-valign': 'center',
            'text-halign': 'center',
            'width': '150px',
            'height': '30px',
            'font-size': '9px',
            'border-width': '1px',
            'border-color': '#999'
          }
        },
        {
          selector: '$node > node',
          css: {
            'shape': 'roundrectangle',
            'padding-top': '10px',
            'font-weight': 'bold',
            'padding-left': '10px',
            'padding-bottom': '10px',
            'padding-right': '10px',
            'text-valign': 'top',
            'text-halign': 'center',
            'width': 'auto',
            'height': 'auto',
            'font-size': '9px'
          }
        },
        {
          selector: 'edge',
          css: {
            'target-arrow-shape': 'triangle',
            'content': 'data(short_name)',
            'line-color': '#ccc',
            'source-arrow-color': '#ccc',
            'target-arrow-color': '#ccc',
            'font-size': '9px'
          }
        },
        {
          selector: ':selected',
          css: {
            'background-color': 'data[\'color\'])',
            'line-color': '#2A62E4',
            'target-arrow-color': '#2A62E4',
            'source-arrow-color': '#2A62E4',
            'border-width': '2px',
            'border-color': '#2A62E4',
            'background-blacken': '0.3'
          }
        }
      ],
      userZoomingEnabled: false,
      autolock: <%= editable ? 'false' : 'true' -%>
    });

    cy.panzoom();
  });
</script>