<% editable ||= false %>

<% if editable %>
    <div class="workflow-toolbar pull-right">
      <a class="btn btn-default" id="workflow-toolbar-undo">
        <i class="fa fa-undo"></i> Undo
      </a>
      <a class="btn btn-default disabled" id="workflow-toolbar-redo">
        <i class="fa fa-repeat"></i> Redo
      </a>
      <a class="btn btn-default" id="workflow-toolbar-add">
        <i class="fa fa-plus-square"></i> Add Node
      </a>
    </div>
<% end %>

<div class="wrapper" id="cy" data-editable="<%= editable -%>"></div>
<%= content_tag(:script, workflow.workflow_content.to_json.html_safe,
                id: 'workflow-content-json', type: 'application/json') %>
