<li class="masonry-brick media-item ">
  <h3 class="media-heading"><%= title_with_privacy(workflow) %></h3>
  <p><%= render_markdown(truncate(workflow.description, length: 300, separator: ' ')) %></p>
  <%= link_to '', workflow, :class=>"media-view"%>
</li>
