<% editable ||= false %>

<% if editable %>
    <div id="workflow-toolbar">
      <a class="btn btn-default disabled" id="workflow-toolbar-undo">
        <i class="fa fa-undo"></i> Undo
      </a>
      <a class="btn btn-default disabled" id="workflow-toolbar-redo">
        <i class="fa fa-repeat"></i> Redo
      </a>
      <a class="btn btn-default" id="workflow-toolbar-add">
        <i class="fa fa-plus-square"></i> Add Node
      </a>
    </div>

    <div id="workflow-status-bar">
      <strong>Selected:</strong> <span id="workflow-status-selected-node"></span>
      <span id="workflow-status-message"></span>
      <div class="pull-right">
        <a class="btn btn-default node-context-button" id="workflow-toolbar-edit" style="display: none">
          <i class="fa fa-edit"></i> Edit
        </a>
        <a class="btn btn-default node-context-button" id="workflow-toolbar-link" style="display: none">
          <i class="fa fa-link"></i> Link
        </a>
        <a class="btn btn-default" id="workflow-toolbar-cancel" style="display: none">
          <i class="fa fa-ban"></i> <span>Cancel</span>
        </a>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="workflow-modal-title" id="workflow-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="workflow-modal-title">New node</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="workflow-modal-form-title">Title</label>
              <input type="text" class="form-control" id="workflow-modal-form-title" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="workflow-modal-form-description">Description</label>
              <textarea class="form-control" id="workflow-modal-form-description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="workflow-modal-form-colour">Colour</label>
              <p style="margin: 0px; padding: 5px;">
                Click inside the box below to select colour using colour picker:
              </p>
              <input type="text" class="form-control jscolor {hash:true, zIndex: 100000}" id="workflow-modal-form-colour">
                <p style="background-color: #E7E7E7; margin-top: 5px; padding: 5px;">
                  Or select from pre-defined colours:
                  <%= render 'workflows/partials/simple_colour_picker' %>
                </p>
            </div>

            <input type="hidden" id="workflow-modal-form-x">
            <input type="hidden" id="workflow-modal-form-y">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="workflow-modal-form-close">Close</button>
            <button type="button" class="btn btn-primary" id="workflow-modal-form-confirm">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% end %>

<div class="wrapper" id="cy" data-editable="<%= editable -%>"></div>
<%= content_tag(:script, workflow.workflow_content.to_json.html_safe,
                id: 'workflow-content-json', type: 'application/json') %>
