<%- model_class = Workflow -%>
<div class="page-header">
  <%= page_title(t('.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize.downcase)) %>
</div>
<%= render :partial => 'form' %>
