<!--<p id="notice"><%#= notice %></p>-->

<!-- SIDEBAR | RESULTS -->
<div class="row wrapper">
  <% if SOLR_ENABLED %>

      <!-- SIDEBAR -->
      <div class="col-md-3" id="sidebar">
        <%= render :partial => "search/common/facet_sidebar", :locals => {:resources => @workflows, :resource_type => 'workflow'} %>
      </div>

      <!-- RESULTS -->
      <div class="col-md-9">
        <!-- SEARCH BAR -->

        <div class="row">
          <%= link_to new_workflow_path, :class=>"btn btn-primary disabled" do %>
              <i class="fa fa-plus"></i> Create workflow
          <% end %>
        </div>

        <div class="row">
          <%#= render :partial=> "search/common/search_box", :locals=>{:resource_path => workflows_path} %>
        </div>

        <!-- APPLIED FILTERS AND NUMBER OF RESULTS -->
        <div class="row">
          <%#= render :partial => "search/common/search_info", :locals=>{:resources=>@workflows}  %>
        </div>

        <!-- PAGINATION -->
        <div class="row">
          <%#= render :partial=> "search/common/pagination_bar", :locals=>{:resources=>@workflows} unless (@workflows.blank? or @workflows.results.blank?) %>
        </div>

        <hr>
        <% @workflows = @workflows.results unless @workflows.blank? %>
        <p class="empty">
          This functionality is still under construction.
        </p>
  <% end %>

  <!-- ACTUAL RESULTS LIST -->
  <% unless @workflows.blank? %>
      <ul class="masonry media-grid">
        <% @workflows.each do |workflow| %>
            <%= render workflow %>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>