---
http_interactions:
- request:
    method: post
    uri: https://api.fairsharing.org/search/fairsharing_records?page%5Bnumber%5D=1&page%5Bsize%5D=25&q=fhdjsfoidsnvoinveoifsodfbsduoifbsduofsef
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIyMjIxMDlhMi0wZWZkLTQ0Y2EtYTYzOC1jNjFmMWZmNmQxYjAiLCJzdWIiOiI4MjI0Iiwic2NwIjoidXNlciIsImF1ZCI6bnVsbCwiaWF0IjoxNjY5OTEwODM4LCJleHAiOjE2Njk5OTcyMzh9.Dv_E6JiyRSrvoOZMHZeQLiEbqYnsTR0qkyrKyWWqb80
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Maintenance:
      - 'false'
      X-Per-Page:
      - '25'
      Etag:
      - W/"4ca4bc1c60cead005221f13a5d6a3ab3"
      X-Page:
      - '1'
      X-Total:
      - '0'
      Read-Only:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"self":"https://api.fairsharing.org/search/fairsharing_records?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026q=fhdjsfoidsnvoinveoifsodfbsduoifbsduofsef","first":"https://api.fairsharing.org/search/fairsharing_records?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026q=fhdjsfoidsnvoinveoifsodfbsduoifbsduofsef","prev":null,"next":null,"last":"https://api.fairsharing.org/search/fairsharing_records?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026q=fhdjsfoidsnvoinveoifsodfbsduoifbsduofsef"}}'
  recorded_at: Thu, 01 Dec 2022 17:47:15 GMT
recorded_with: VCR 6.1.0
