{
  "swagger" : "2.0",
  "host" : "tess.oerc.ox.ac.uk",
  "schemes" : [ "https" ],
  "info" : {
    "description" : "An implementation of the API for ELIXIR's TeSS, following JSON-API (http://jsonapi.org/) standards.",
    "version" : "0.0.1",
    "title" : "TeSS JSON-API",
    "contact" : {
      "email" : "tess-support@googlegroups.com"
    },
    "license" : {
      "name" : "BSD 3-Clause License",
      "url" : "http://www.opensource.org/licenses/BSD-3-Clause"
    }
  },
  "produces" : [ "application/vnd.api+json" ],
  "consumes" : [ "application/vnd.api+json" ],
  "parameters" : {
    "query" : {
      "name" : "q",
      "in" : "query",
      "description" : "Search keywords.",
      "type" : "string"
    },
    "page_number" : {
      "name" : "page_number",
      "in" : "query",
      "description" : "The page of the collection to view.",
      "type" : "integer",
      "default" : 1
    },
    "page_size" : {
      "name" : "page_size",
      "in" : "query",
      "description" : "The number of results to return per page.",
      "type" : "integer",
      "default" : 30
    },
    "sort" : {
      "name" : "sort",
      "in" : "query",
      "description" : "Field to sort by.",
      "type" : "string"
    }
  },
  "paths" : {
    "/events" : {
      "get" : {
        "tags" : [ "events" ],
        "parameters" : [ {
          "$ref" : "#/parameters/query"
        }, {
          "$ref" : "#/parameters/page_number"
        }, {
          "$ref" : "#/parameters/page_size"
        }, {
          "$ref" : "#/parameters/sort"
        } ],
        "responses" : {
          "200" : {
            "description" : "A collection of events, and facets available to filter them.",
            "schema" : {
              "$ref" : "#/definitions/EventCollection"
            }
          }
        }
      }
    },
    "/events/{slug}" : {
      "get" : {
        "tags" : [ "events" ],
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The _slug_ id of an event e.g. python-training-2017",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A single event.",
            "schema" : {
              "$ref" : "#/definitions/Event"
            }
          }
        }
      }
    },
    "/materials" : {
      "get" : {
        "tags" : [ "materials" ],
        "parameters" : [ {
          "$ref" : "#/parameters/query"
        }, {
          "$ref" : "#/parameters/page_number"
        }, {
          "$ref" : "#/parameters/page_size"
        }, {
          "$ref" : "#/parameters/sort"
        } ],
        "responses" : {
          "200" : {
            "description" : "A collection of materials, and facets available to filter them.",
            "schema" : {
              "$ref" : "#/definitions/MaterialCollection"
            }
          }
        }
      }
    },
    "/materials/{slug}" : {
      "get" : {
        "tags" : [ "materials" ],
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The _slug_ id of an material e.g. python-tutorial",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A single material.",
            "schema" : {
              "$ref" : "#/definitions/Material"
            }
          }
        }
      }
    },
    "/content_providers" : {
      "get" : {
        "tags" : [ "content providers" ],
        "parameters" : [ {
          "$ref" : "#/parameters/query"
        }, {
          "$ref" : "#/parameters/page_number"
        }, {
          "$ref" : "#/parameters/page_size"
        }, {
          "$ref" : "#/parameters/sort"
        } ],
        "responses" : {
          "200" : {
            "description" : "A collection of content providers, and facets available to filter them.",
            "schema" : {
              "$ref" : "#/definitions/ContentProviderCollection"
            }
          }
        }
      }
    },
    "/content_providers/{slug}" : {
      "get" : {
        "tags" : [ "content providers" ],
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The _slug_ id of an content provider e.g. goblet",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A single content provider.",
            "schema" : {
              "$ref" : "#/definitions/ContentProvider"
            }
          }
        }
      }
    },
    "/workflows" : {
      "get" : {
        "tags" : [ "workflows" ],
        "parameters" : [ {
          "$ref" : "#/parameters/query"
        }, {
          "$ref" : "#/parameters/page_number"
        }, {
          "$ref" : "#/parameters/page_size"
        }, {
          "$ref" : "#/parameters/sort"
        } ],
        "responses" : {
          "200" : {
            "description" : "A collection of workflows, and facets available to filter them.",
            "schema" : {
              "$ref" : "#/definitions/WorkflowCollection"
            }
          }
        }
      }
    },
    "/workflows/{slug}" : {
      "get" : {
        "tags" : [ "workflows" ],
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The _slug_ id of an workflow e.g. ember",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A single content provider.",
            "schema" : {
              "$ref" : "#/definitions/Workflow"
            }
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "users" ],
        "responses" : {
          "200" : {
            "description" : "A collection of users.",
            "schema" : {
              "$ref" : "#/definitions/UserCollection"
            }
          }
        }
      }
    },
    "/users/{slug}" : {
      "get" : {
        "tags" : [ "users" ],
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "The _slug_ id of an user e.g. niall.beard",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A single user.",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Event" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/EventResource"
          }
        }
      } ]
    },
    "EventResource" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ResourceObject"
      }, {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/definitions/EventAttributes"
          },
          "relationships" : {
            "type" : "object",
            "properties" : {
              "user" : {
                "$ref" : "#/definitions/SingleRelationshipObject"
              },
              "content-provider" : {
                "$ref" : "#/definitions/SingleRelationshipObject"
              },
              "nodes" : {
                "$ref" : "#/definitions/MultiRelationshipObject"
              }
            }
          },
          "links" : {
            "allOf" : [ {
              "$ref" : "#/definitions/Links"
            }, {
              "type" : "object",
              "properties" : {
                "redirect" : {
                  "type" : "string",
                  "description" : "A redirect to the actual event's URL, via TeSS."
                }
              }
            } ]
          }
        }
      } ]
    },
    "EventAttributes" : {
      "type" : "object",
      "properties" : {
        "slug" : {
          "type" : "string",
          "description" : "The \"friendly\" identifier of the event."
        },
        "title" : {
          "type" : "string",
          "description" : "The title of the event."
        },
        "subtitle" : {
          "type" : "string",
          "description" : "The subtitle of the event."
        },
        "url" : {
          "type" : "string",
          "description" : "The URL where the actual event can be found."
        },
        "organizer" : {
          "type" : "string",
          "description" : "The organization responsible for creating the event."
        },
        "description" : {
          "type" : "string",
          "description" : "A succinct description of what the event is about."
        },
        "start" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date and time at which the event starts."
        },
        "end" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date and time at which the event ends."
        },
        "sponsor" : {
          "type" : "string",
          "description" : "The person or organization that is sponsoring the event."
        },
        "venue" : {
          "type" : "string",
          "description" : "The name of the building where the event will be hosted."
        },
        "city" : {
          "type" : "string",
          "description" : "The city the where event will be hosted."
        },
        "country" : {
          "type" : "string",
          "description" : "The regional where county the event will be hosted."
        },
        "county" : {
          "type" : "string",
          "description" : "The name of country where the event will be hosted."
        },
        "postcode" : {
          "type" : "string",
          "description" : "The postcode of the venue hosting the event."
        },
        "latitude" : {
          "type" : "string",
          "description" : "The latitude co-ordinate of the event."
        },
        "longitude" : {
          "type" : "string",
          "description" : "The longitude co-ordinate of the event."
        },
        "created-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the event was first created on TeSS."
        },
        "updated-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the event was last updated on TeSS."
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "A series of freetext words used to describe an event."
        },
        "event-types" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "The category of the event. This could be a meeting or a course; or if unknown or neither, an event."
        },
        "target-audience" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "The intended audience of the event. This can includes things like scientific discpline and expertise level."
        },
        "capacity" : {
          "type" : "integer",
          "description" : "The number of people allowed to attend the event."
        },
        "eligibility" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "Various criteria require to participate in the event."
        },
        "contact" : {
          "type" : "string",
          "description" : "The name and/or contact details of a person or institution organizing the event."
        },
        "host-institutions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "The institution physically hosting the event."
        },
        "scientific-topics" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ScientificTopic"
          },
          "description" : "The classification of the event based on the EDAM ontology's scientific topics."
        },
        "external-resources" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ExternalResource"
          },
          "description" : "A list of external resources associated with this tool. These are largely tools from bio.tools, and standards, databases, and policies from biosharing.org - but can be anything."
        }
      }
    },
    "EventCollection" : {
      "allOf" : [ {
        "$ref" : "#/definitions/FacetedCollection"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "minItems" : 0,
            "uniqueItems" : true,
            "items" : {
              "$ref" : "#/definitions/EventResource"
            }
          }
        }
      } ]
    },
    "Material" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/MaterialResource"
          }
        }
      } ]
    },
    "MaterialResource" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ResourceObject"
      }, {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/definitions/MaterialAttributes"
          },
          "relationships" : {
            "type" : "object",
            "properties" : {
              "user" : {
                "$ref" : "#/definitions/SingleRelationshipObject"
              },
              "content-provider" : {
                "$ref" : "#/definitions/SingleRelationshipObject"
              },
              "nodes" : {
                "$ref" : "#/definitions/MultiRelationshipObject"
              }
            }
          },
          "links" : {
            "allOf" : [ {
              "$ref" : "#/definitions/Links"
            }, {
              "type" : "object",
              "properties" : {
                "redirect" : {
                  "type" : "string",
                  "description" : "A redirect to the actual event's URL, via TeSS."
                }
              }
            } ]
          }
        }
      } ]
    },
    "MaterialAttributes" : {
      "type" : "object",
      "properties" : {
        "slug" : {
          "type" : "string",
          "description" : "The \"friendly\" identifier of the material."
        },
        "title" : {
          "type" : "string",
          "description" : "The title of the material."
        },
        "url" : {
          "type" : "string",
          "description" : "The URL where the actual material can be found."
        },
        "short-description" : {
          "type" : "string",
          "description" : "A succinct description of what the training material is about."
        },
        "long-description" : {
          "type" : "string",
          "description" : "A longer, more indepth explanation of the content of the training material."
        },
        "doi" : {
          "type" : "string",
          "description" : "The DOI of the material (if it has one)."
        },
        "remote-updated-date" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the material was last updated on its original site."
        },
        "remote-created-date" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the material was first created on its original site."
        },
        "created-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the material was first created on TeSS."
        },
        "updated-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the material was last updated on TeSS."
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "A list of freetext keywords to describe the material."
        },
        "licence" : {
          "type" : "string",
          "description" : "The licence chosed to determine how the material may be re-used."
        },
        "difficulty-level" : {
          "type" : "string",
          "description" : "The difficulty level comprehension of the material requires. Can be Beginner, Intermediate, Advanced, or Not specified."
        },
        "authors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "A list of people who wrote or helped write the material."
        },
        "contributors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "Any person who was not the author but contributed in some way. Maybe they produced some software used, reviewed the paper, or helped inspire the author."
        },
        "target-audience" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "The audience the material was intended for."
        },
        "scientific-topics" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ScientificTopic"
          },
          "description" : "The classification of the event based on the EDAM ontology's scientific topics."
        },
        "external-resources" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ExternalResource"
          },
          "description" : "A list of external resources associated with this tool. These are largely tools from bio.tools, and standards, databases, and policies from biosharing.org - but can be anything."
        }
      }
    },
    "MaterialCollection" : {
      "allOf" : [ {
        "$ref" : "#/definitions/FacetedCollection"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "minItems" : 0,
            "uniqueItems" : true,
            "items" : {
              "$ref" : "#/definitions/MaterialResource"
            }
          }
        }
      } ]
    },
    "ContentProvider" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/ContentProviderResource"
          }
        }
      } ]
    },
    "ContentProviderResource" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ResourceObject"
      }, {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/definitions/ContentProviderAttributes"
          },
          "relationships" : {
            "type" : "object",
            "properties" : {
              "events" : {
                "$ref" : "#/definitions/MultiRelationshipObject"
              },
              "materials" : {
                "$ref" : "#/definitions/MultiRelationshipObject"
              }
            }
          },
          "links" : {
            "allOf" : [ {
              "$ref" : "#/definitions/Links"
            }, {
              "type" : "object",
              "properties" : {
                "redirect" : {
                  "type" : "string",
                  "description" : "A redirect to the actual event's URL, via TeSS."
                }
              }
            } ]
          }
        }
      } ]
    },
    "ContentProviderAttributes" : {
      "type" : "object",
      "properties" : {
        "slug" : {
          "type" : "string",
          "description" : "The \"friendly\" identifier of the content provider."
        },
        "title" : {
          "type" : "string",
          "description" : "The title of the content provider."
        },
        "description" : {
          "type" : "string",
          "description" : "A description of the content provider."
        },
        "url" : {
          "type" : "string",
          "description" : "The URL to the content provider's website."
        },
        "image-url" : {
          "type" : "string",
          "description" : "A URL to an image of the content provider's logo."
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "A list of freetext keywords to describe the content provider."
        },
        "created-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the content provider was first created on TeSS"
        },
        "updated-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the content provider was last updated on TeSS"
        }
      }
    },
    "ContentProviderCollection" : {
      "allOf" : [ {
        "$ref" : "#/definitions/FacetedCollection"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "minItems" : 0,
            "uniqueItems" : true,
            "items" : {
              "$ref" : "#/definitions/ContentProviderResource"
            }
          }
        }
      } ]
    },
    "User" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/UserResource"
          }
        }
      } ]
    },
    "UserResource" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ResourceObject"
      }, {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/definitions/UserAttributes"
          },
          "links" : {
            "allOf" : [ {
              "$ref" : "#/definitions/Links"
            }, {
              "type" : "object",
              "properties" : {
                "redirect" : {
                  "type" : "string",
                  "description" : "A redirect to the actual event's URL, via TeSS."
                }
              }
            } ]
          }
        }
      } ]
    },
    "UserAttributes" : {
      "type" : "object",
      "properties" : {
        "slug" : {
          "type" : "string",
          "description" : "The \"friendly\" identifier of the user."
        },
        "firstname" : {
          "type" : "string",
          "description" : "The user's first, or given, name."
        },
        "surname" : {
          "type" : "string",
          "description" : "The user's last, or family, name."
        },
        "created-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the user registered on TeSS."
        },
        "updated-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the user last updated their profile on TeSS."
        }
      }
    },
    "UserCollection" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "minItems" : 0,
            "uniqueItems" : true,
            "items" : {
              "$ref" : "#/definitions/UserResource"
            }
          }
        }
      } ]
    },
    "Workflow" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/WorkflowResource"
          }
        }
      } ]
    },
    "WorkflowResource" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ResourceObject"
      }, {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "$ref" : "#/definitions/WorkflowAttributes"
          },
          "relationships" : {
            "type" : "object",
            "properties" : {
              "user" : {
                "$ref" : "#/definitions/SingleRelationshipObject"
              }
            }
          },
          "links" : {
            "allOf" : [ {
              "$ref" : "#/definitions/Links"
            }, {
              "type" : "object",
              "properties" : {
                "redirect" : {
                  "type" : "string",
                  "description" : "A redirect to the actual event's URL, via TeSS."
                }
              }
            } ]
          }
        }
      } ]
    },
    "WorkflowAttributes" : {
      "type" : "object",
      "properties" : {
        "slug" : {
          "type" : "string",
          "description" : "The \"friendly\" identifier of the workflow."
        },
        "title" : {
          "type" : "string",
          "description" : "The title of the workflow."
        },
        "description" : {
          "type" : "string",
          "description" : "A succinct description of what the workflow is about."
        },
        "workflow-content" : {
          "type" : "object",
          "description" : "The cytoscape.js JSON structure describing the workflow."
        },
        "doi" : {
          "type" : "string",
          "description" : "The DOI of the workflow."
        },
        "created-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the workflow was first created on TeSS."
        },
        "updated-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the workflow was last updated on TeSS."
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "A list of freetext keywords to describe the workflow."
        },
        "licence" : {
          "type" : "string",
          "description" : "The licence chosed to determine how the workflow may be re-used."
        },
        "difficulty-level" : {
          "type" : "string",
          "description" : "The difficulty level comprehension of the workflow requires. Can be Beginner, Intermediate, Advanced, or Not specified."
        },
        "authors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "A list of people who wrote or helped write the workflow."
        },
        "contributors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "Any person who was not the author but contributed in some way. Maybe they produced some software used, reviewed the paper, or helped inspire the author."
        },
        "target-audience" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "description" : "The audience the material was intended for."
        },
        "scientific-topics" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ScientificTopic"
          },
          "description" : "The classification of the event based on the EDAM ontology's scientific topics."
        }
      }
    },
    "WorkflowCollection" : {
      "allOf" : [ {
        "$ref" : "#/definitions/FacetedCollection"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "minItems" : 0,
            "uniqueItems" : true,
            "items" : {
              "$ref" : "#/definitions/WorkflowResource"
            }
          }
        }
      } ]
    },
    "FacetedCollection" : {
      "allOf" : [ {
        "$ref" : "#/definitions/JsonApiResponse"
      }, {
        "type" : "object",
        "properties" : {
          "meta" : {
            "type" : "object",
            "properties" : {
              "results-count" : {
                "type" : "integer",
                "description" : "The total number of results in the collection."
              },
              "query" : {
                "type" : "string",
                "description" : "Search keywords.",
                "default" : ""
              },
              "facets" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                },
                "description" : "The filters that are currently applied to the collection."
              },
              "available-facets" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Facet"
                  }
                },
                "description" : "The set of filters that are available to be applied to the collection."
              }
            }
          },
          "links" : {
            "allOf" : [ {
              "$ref" : "#/definitions/Links"
            }, {
              "$ref" : "#/definitions/PaginationLinks"
            } ]
          }
        }
      } ]
    },
    "ScientificTopic" : {
      "type" : "object",
      "properties" : {
        "preferred-label" : {
          "type" : "string"
        },
        "uri" : {
          "type" : "string"
        }
      }
    },
    "ExternalResource" : {
      "type" : "object",
      "properties" : {
        "title" : {
          "type" : "string",
          "description" : "Title of the external resource"
        },
        "url" : {
          "type" : "string",
          "description" : "A URL that resolves to a description of an external resource or the external resource itself."
        },
        "created-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the association was created between this resource and the external resource within TeSS."
        },
        "updated-at" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the association was last update between this resource and the external resource within TeSS."
        },
        "api-url" : {
          "type" : "string",
          "description" : "A URL that resolves to more information about the external resource represented in a common exchange format (e.g. JSON or XML)"
        },
        "type" : {
          "type" : "string",
          "description" : "The type of external resource. This can be 'tool', 'database, policy or standard' for bio.tools and bio.sharing respectively or any other resource type name for other external resources."
        }
      }
    },
    "Facet" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "string"
        },
        "count" : {
          "type" : "integer"
        }
      }
    },
    "JsonApiResponse" : {
      "type" : "object",
      "properties" : {
        "errors" : {
          "type" : "object"
        },
        "meta" : {
          "type" : "object"
        },
        "links" : {
          "type" : "object"
        },
        "included" : {
          "type" : "object"
        },
        "jsonapi" : {
          "type" : "object"
        }
      }
    },
    "ResourceObject" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ResourceIdentifierObject"
      }, {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "type" : "object"
          },
          "relationships" : {
            "type" : "object"
          },
          "links" : {
            "$ref" : "#/definitions/Links"
          }
        }
      } ]
    },
    "ResourceIdentifierObject" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "meta" : {
          "type" : "object"
        }
      }
    },
    "SingleRelationshipObject" : {
      "type" : "object",
      "properties" : {
        "links" : {
          "type" : "object"
        },
        "data" : {
          "$ref" : "#/definitions/ResourceIdentifierObject"
        },
        "meta" : {
          "type" : "object"
        }
      }
    },
    "MultiRelationshipObject" : {
      "type" : "object",
      "properties" : {
        "links" : {
          "type" : "object"
        },
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ResourceIdentifierObject"
          }
        },
        "meta" : {
          "type" : "object"
        }
      }
    },
    "Links" : {
      "type" : "object",
      "properties" : {
        "self" : {
          "type" : "string",
          "description" : "The URL of the current resource or collection."
        }
      }
    },
    "PaginationLinks" : {
      "type" : "object",
      "properties" : {
        "prev" : {
          "type" : "string",
          "description" : "The previous page of the collection."
        },
        "next" : {
          "type" : "string",
          "description" : "The next page of the collection."
        },
        "first" : {
          "type" : "string",
          "description" : "The first page of the collection."
        },
        "last" : {
          "type" : "string",
          "description" : "The final page of the collection."
        }
      }
    }
  }
}