
<%- model_class = User -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, profile_path(user.profile) %></td>
        <td>
          <%= image_tag user.gravatar_url, size: "40" -%>
      </tr>
  <% end %>
  </tbody>
</table>

