<div class="row wrapper">
  <div class="col-md-12">

    <%- model_class = User -%>
    <div class="page-header">
      <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
    </div>

    <ul class="masonry media-grid" style="margin-top: 15px;">
      <% @users.each do |user| %>
          <%= render user %>
      <% end %>
    </ul>
  </div>
</div>


