
<%- model_class = User -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <% if !user.profile.nil? -%>
        <td><%= link_to user.username, :controller => :profiles, :action => :show, :id => user.profile.id %></td>
        <% else -%>
        <%= user.username -%>
        <% end -%>
        <td>
          <%= image_tag user.gravatar_url, size: "40" -%>
      </tr>
  <% end %>
  </tbody>
</table>

