<div class="row wrapper">
  <!-- SIDEBAR -->


  <div class=" col-md-9 col-xs-9">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#materials"><i class="fa fa-book"></i> Materials</a>
        </li>
        <li class="active">
          <a data-toggle="tab" href="#packages"><i class="fa fa-book"></i> Packages</a>
        </li>
        <li class="active">
          <a data-toggle="tab" href="#workflows"><i class="fa fa-book"></i> Workflows</a>
        </li>
        <li>
          <a data-toggle="tab" href="#activity_log"><i class="fa fa-clock-o"></i> Activity Log</a>
        </li>
      </ul>
    </div>
  </div>
</div>
