<%# Sidebar containing info on content provider.

Variable that should be available
- content_provider - content provider being displayed
%>
<% unless content_provider.blank? %>
  <%# Content provider  %>
  <h4 class="nav-heading">Content provider</h4>
  <div class="nav-block">
    <p>
      <%# Link to either external content provider's page or to the content provider's object in TeSS,
          based on which controller/view is currenlty active %>
      <%
        if controller_name == 'content_providers'
          url = content_provider.url
          url_opts = { target: '_blank', rel: 'noopener' }
        else
          url = content_provider
          url_opts = {}
        end
      %>
      <%= link_to(image_tag(content_provider.image.url, class: 'medium-avatar'), url, **url_opts) %>
    </p>

    <p>
      <%= link_to content_provider.title, url, class: 'h5', **url_opts %>
    </p>
    <% unless content_provider.description.blank? %>
      <p class="minimise">
        <%= content_provider.description %>
      </p>
    <% end %>
  </div>
<% end %>
