<%# Sidebar containing info on content provider.

Variable that should be available
- content_provider - content provider being displayed
%>
<script>
  // From : http://stackoverflow.com/questions/11417544/truncate-paragraph-first-100-character-and-hide-rest-content-of-paragraph-to-sho
  /*
   Truncate paragraph's first 500 characters and hide rest then show/hide the rest with more/less links
   */
  jQuery(function () {

    var minimized_elements = $('p.minimise');

    minimized_elements.each(function () {
      var t = $(this).text();
      if (t.length < 500) return;

      $(this).html(
          t.slice(0, 500) + '<span>... </span><a href="#" class="more">Read more</a>' +
          '<span style="display:none;">' + t.slice(500, t.length) + ' <a href="#" class="less">Read less</a></span>'
      );
    });

    $('a.more', minimized_elements).click(function (event) {
      event.preventDefault();
      $(this).hide().prev().hide();
      $(this).next().show();
    });

    $('a.less', minimized_elements).click(function (event) {
      event.preventDefault();
      $(this).parent().hide().prev().show().prev().show();
    });

  });
</script>

<ul class="unstyled nav-simple">
  <% if content_provider.blank? %>
      <p class="alert alert-info empty" style="margin: 10px;">
        Provider not available
      </p>
  <% else %>
      <!-- Content provider  -->
      <li><h4 class="nav-heading">Content provider</h4></li>
      <li style="padding: 7px 20px;">
        <p>
          <!-- Link to either external content provider's page or to the content provider's object in TeSS,
          based on which controller/view is currenlty active -->
          <% cp_url = (controller_name == 'content_providers') ? content_provider.url : (url_for content_provider) %>
          <% cp_target = (controller_name == 'content_providers') ? '_blank' : '_self' %>
          <%= link_to(image_tag(get_image_url_for(content_provider), :class => "medium-content-provider-logo"), cp_url, :target => cp_target) %>
        </p>

        <p>
          <%= link_to content_provider.title, cp_url, :class => "h5", :target => cp_target %>
        </p>
        <% unless content_provider.description.blank? %>
            <p class="minimise">
              <%= content_provider.description %>
            </p>
        <% end %>
        <!--<%# if content_provider.keywords %>-->
            <!--<strong>Keywords</strong><br/>-->
            <!--<%#= content_provider.keywords.join(', ') %>-->
        <!--<%# end %>-->
      </li>
      <!--<li><h4 class="nav-heading">Type</h4></li>-->
      <!--<li style="padding: 7px 20px;">-->
        <!--<%#= content_provider.content_provider_type %>-->
      <!--</li>-->
      <!--<%# unless content_provider.node.blank? %>-->
          <!--<li><h4 class="nav-heading">ELIXIR node</h4></li>-->
          <!--<li style="padding: 7px 20px;">-->
            <!--<p>-->
              <!--<%#= link_to country_flag(content_provider.node.country_code, class: 'small-flag'), content_provider.node %>-->
              <!--<%#= link_to content_provider.node.name, content_provider.node %>-->
            <!--</p>-->

            <!--<p>-->
              <!--<%#= link_to (image_tag get_image_url_for(content_provider.node), :class => "media-image listing_image"), content_provider.node %>-->
            <!--</p>-->
          <!--</li>-->
      <!--<%# end %>-->
  <% end %>
</ul>
