<%= info_box('What are content providers?') do %>
    <p>
      Content providers are entities – e.g. institutions members of ELIXIR nodes, independent institutions or
      related portals, like GOBLET, the Software and Data Carpentry Foundations, etc., or individual people –
      that provide training materials of relevance to life sciences and ELIXIR.
    </p>
<% end %>
