default: &default
  base_url: <%= ENV.fetch("BASE_URL") %>
  contact_email: <%= ENV.fetch("CONTACT_EMAIL") %>
  sender_email: <%= ENV.fetch("SENDER_EMAIL") %>
  twitter_handle: '@handle'
  solr_enabled: true
  announcement_message:
  prevent_robot_indexing: false
  blocked_domains:
    - !ruby/regexp '/bad-domain\.example/'
  site:
    title: ''
    title_short: ''
    favicon: ''
    logo: ''
    logo_alt: ''
    logo_open_graph: ''
    logo_email: ''
    theme: 'en'
    repository: ''
    supported_by: ''
    widget_example: ''
  mailer:
    delivery_method: sendmail
    location: /usr/sbin/sendmail
    arguments: '-i -t'
  gmaps:
    center:
      latitude: 53.4674583
      longitude: -2.233948899999973
    zoom:
      latitude: 3
      longitude: 13
  questionnaire:
    show: false
    message: ''
    url: ''
  parent_org:
    name: ''
    url: ''
  feature:
    e-learnings: true
    events: true
    invitation: true
    materials: true
    nodes: true
    collections: true
    providers: true
    subscription: true
    registration: true
    trainers: true
    workflows: true
    disabled: []
  placeholder:
    collection: 'placeholder-collection.png'
    provider: 'placeholder-organization.png'
    group: 'placeholder-group.png'
    person: 'placeholder-person.png'
  dictionaries:
    cost_basis: 'cost_basis.yml'
    difficulty: 'difficulty.yml'
    eligibility: 'eligibility.yml'
    event_types: 'event_types.yml'
    licences: 'licences.yml'
    material_status: 'material_status.yml'
    material_type: 'material_type.yml'
    target_audience: 'target_audience.yml'
    trainer_experience: 'trainer_experience.yml'

development:
  <<: *default

production:
  <<: *default

test:
  <<: *default
