// Sticky but not fixed footer
// http://cbracco.me/css-sticky-footer-effect/
html {
  height: 100%;
  position: relative;
}

body {
  min-width: 320px;
  position: relative;
  margin: 0;
  padding-bottom: 500px;
  min-height: 100%;
}

h1 {
  font-weight: 900;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.sub-heading {
  font-weight: lighter;
  font-size: $font-size-large;
  line-height: 24px;
  text-transform: uppercase;

  p {
    margin: 0;
  }
}

section {
  padding: 30px 0;
}

.module-heading {
  margin: 50px 0;
}

#main-container,
#header-container,
#flash-container {
  max-width: 1400px;
}

// Override margin for boostrap-s page-header
.page-header {
  margin: 20px 0 20px;
  border: none;
  padding: 0;
}

sup {
  vertical-align: top;
  position: relative;
  top: 5px;
}
