a.btn-icon {
  transition: 0s;
  &:hover {
    filter: brightness(95%);
  }
  &:active {
    filter: brightness(95%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* try adding !important  after 0px if doesn't work */

// Multiple input list on forms with + button to add more input fields dynamically
.multiple-input-list {
  //
  //.multiple-input-add {
  //  height: $input-height-base;
  //}

  .multiple-list-item {
    margin-bottom: 15px;
    display: inline-block;
    width: calc(100% - 72px);

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      width: calc(50% - 36px);
    }

    @media (min-width: $screen-lg-min) {
      width: calc(33% - 24px);
    }

    .multiple-input {
      display: inline;
      width: calc(100% - 60px);
    }

    .multiple-input-delete {
      display: inline;
    }
  }
}

.dropdown-toggle {
  cursor: pointer;
  //padding: $padding-base-horizontal $padding-base-vertical;
}

.dropdown-option {
  cursor: pointer;

  &:hover {
    background: $dropdown-link-hover-bg;
  }
}

.dropdown-menu {
  padding: $padding-base-vertical $padding-base-horizontal;
}

.dropdown-option-delete {
  background: none;
  border: none;
}

// To make bootstrap button wrap button text into multiple lines
.btn {
  white-space: normal !important;
}

input.loading {
  background: image-url('ajax-loader.gif') no-repeat right center;
}

.btn.loading {
  padding-right: 24px;
  background: image-url('ajax-loader.gif') no-repeat right center;
}

input[type=checkbox].field-lock {
  display: none;
}

input[type=checkbox].field-lock + label:before {
  font-family: FontAwesome;
  cursor: pointer;
  display: inline-block;
  content: "\f09c";
  letter-spacing: 10px;
  margin-left: 0.5em;
  vertical-align: middle;
  width: 1.5em;
}

input[type=checkbox].field-lock:checked + label:before {
  content: "\f023";
}

input[type=checkbox].field-lock:checked + label:before,
.field-lock-example-locked {
  color: $brand-success;
  font-size: 110%;
}

input[type=checkbox].field-lock + label:before,
.field-lock-example-open {
  color: $brand-warning;
  font-size: 110%;
}

.keyword-button {
  margin-right: 5px;
}

.external-button {
  margin-right: 5px;
}

.omniauth-elixir_aai {
  width: 240px;
}

.omniauth-oidc {
  height: 42px;
}

.btn-oidc-only {
  font-size: 36px;
  padding: 4px;
  margin: 12px 10px;
  display: flex;
  justify-content: center;
}
