<script>
	$(document).ready(function() {
		initialize();
		
		function initialize(){
			$('.tab-content').hide();
			$('#<%= selected_tab %>-content').show();			
		}

		$('.tab').click(function(){
			var content = $(this).data('tab_content');
			/* Remove any 'activated' classes from all tabs 
				and hide all tab content */
			$('.tab').removeClass('activated');
			$('.tab-content').hide();

			/* Set out new active tab!*/
			$(this).addClass('activated');
			$('#' + content).show();
			reposition_tiles('masonry', 'masonry-brick');
		});
	});
</script>

<div class="tab-container">
	<a class="tab activated" id="grid" data-tab_content="grid-content" href='#grid'>
				<span class="h3">Grid</span>
	</a>
	<a class="tab" id="grid" data-tab_content="map-content" href='#map'>
				<span class="h3">Map</span>
	</a>	
</div>