<div class="row wrapper">
  <div class=" col-md-12 col-xs-12">
    <%- model_class = Event -%>
    <div class="page-header">
      <h2><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize.downcase %></h2>
    </div>
    <%= render :partial => 'form' %>
  </div>
</div>