<%- model_class = Event -%>
<div class="row wrapper">
  <div class="col-md-12">
    <div class="page-header">
      <%= page_title(t('.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize.downcase)) %>
    </div>
    <div class="col-md-4 col-md-push-8">
      <%= render :partial => "events/partials/general_event_info" %>
      <%= render :partial => "common/field_lock_info" %>
    </div>
    <div class="col-md-8 col-md-pull-4">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
