<div class="page-header">
  <%= page_title('New Learning Path') %>
</div>
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%# render :partial => "learning_paths/partials/general_learning_path_info" %>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <%= render :partial => 'form' %>
  </div>
</div>
