<div id="main-container" class="container">

  <div class="breadcrumbs">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop='name' href="/">Home</a>
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem"
      class="active">
        <span itemprop='name'>About</span>
      </li>
    </ol>
  </div>

  <div class="row wrapper">
    <!-- SIDEBAR -->
    <div class="col-md-3" id="sidebar">
      <ul class="unstyled nav-simple">
        <li><h4 class="nav-heading">Menu</h4></li>
        <li class="nav-item">
          <a href="#about" title="">
            About
          </a>
        </li>
        <li class="nav-item">
          <a href="#contact">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#ack">
            Acknowledgements
          </a>
        </li>
        <li class="nav-item">
          <a href="#software">
            Software
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="module">
        <div style="padding-right: 10px;">
          <a name="about"></a>

          <h1>About</h1>

          <p>
            TeSS is <a target="_blank" href="http://www.elixir-europe.org/">ELIXIR's</a>
            Training e-Support System, developed by <a target="_blank" href="http://www.elixir-uk.org/">ELIXIR-UK</a>,
            for disseminating, discovering and packaging training resources, primarily by aggregating information from
            ELIXIR nodes, but also from various 3<sup>rd</sup>-party content providers.
          </p>

          <p>
            New technologies are generating huge amounts of life-science data, which scientists need to
            transform into new discoveries. However, few researchers have all the right skills to take
            advantage of this sudden data bonanza.
          </p>

          <p>
            ELIXIR-UK is responding to this challenge by coordinating European initiatives to training research
            scientists in computing, statistics and bioinformatics. By plugging the skills gap,
            ELIXIR-UK aims to strengthen life sciences across Europe and set the agenda for future training needs.
          </p>
          <a name="contact"></a>

          <h2>Contact us</h2>

          <p>
            If you have any queries about TeSS, please email
            <a href="mailto:tess@elixir-uk.info">tess@elixir-uk.info</a>,
            or send a message to a member of the TeSS team (in alphabetical order):
          </p>
          <ul>
            <li><a href="mailto:teresa.k.attwood@manchester.ac.uk">Terri Atwood</a> (TeSS
              co-investigator, University of Manchester)
            </li>
            <li><a href="mailto:niall.beard@manchester.ac.uk">Niall Beard</a> (TeSS developer, University of
              Manchester)
            </li>
            <li><a href="mailto:carole.goble@manchester.ac.uk">Carole Goble</a> (TeSS
              co-investigator, University of Manchester)
            </li>
            <li><a href=mailto:a.nenadic@manchester.ac.uk">Aleksandra Nenadic</a> (TeSS manager, University of Manchester)
            </li>
            <li><a href="mailto:susanna-assunta.sansone@oerc.ox.ac.uk">Susanna-Assunta Sansone</a> (TeSS
              co-investigator, Oxford e-Research Centre)
            </li>
            <li><a href="mailto:milo.thurston@oerc.ox.ac.uk">Milo Thurston</a> (TeSS developer, Oxford e-Research Centre)
            </li>
          </ul>
          <a name="faq"> </a>

          <h2>FAQ</h2>

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Is TeSS a repository of training materials and events?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    No - TeSS is a repository of <b>metadata</b> for training materials and events (i.e. a
                    <b>registry</b> of training materials and events).
                    TeSS is an aggregator of metadata of ELIXIR-relevant training information and resources, harvested
                    from individual ELIXIR nodes and from 3<sup>rd</sup>-party content providers. It does not store
                    original
                    training resources, just the metadata and links to them.
                  </p>

                  <p>
                    TeSS does not store original
                    training resources itself; rather, it stores metadata of and links to original training resources,
                    and also
                    enables users to create their own <a href="/packages">packages</a> and
                    <a href="/workflows">workflows</a>
                    of (linked) materials to suit their needs.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    What is the main difference between the TeSS and GOBLET's Training Portal?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    TeSS harvests and aggregates training metadata from ELIXIR nodes and from 3<sup>rd</sup>-party
                    content
                    providers,
                    and filters and displays that information according to different ‘views’ (e.g., ELIXIR overview
                    versus
                    node-specific versus general, etc.) - it does not store the training resources themselves (i.e. it
                    is not a repository - it is a registry).
                  </p>

                  <p>
                    The GOBLET Training Portal acts a repository of materials and courses, and provides a catalogue of
                    trainers
                    and course organisers. The primary focus of TeSS is on ELIXIR resources and nodes; the principal
                    focus
                    of GOBLET
                    is on the training resources and events of its worldwide members.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Within TeSS, do I have to add links to and metadata about to training information manually?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    No, you do not have to add links manually (although manual addition of information is possible).
                  </p>

                  <p>
                    Training-relevant information is brought into TeSS automatically using the APIs of its content
                    providers
                    (or, where APIs do not exist, by scraping information automatically from providers’ websites).
                  </p>

                  <p>
                    If you wish your content to be added to TeSS, please contact the TeSS team so that we can arrange to
                    harvest
                    your training materials and/or events. Alternatively, if you are a registered user, you may add
                    links to and metadata about your training
                    information manually.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    How do I add a content provider?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Registered users can add a content providers from the <a href="/content_providers">content
                    providers page</a> page, by clicking the 'Add content provider' button. In the form provided,
                    write a short description, upload the provider's logo, and provide a link to their website.
                    Typically, this task will be performed by an admin rather than a regular user.

                  <p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-2">
                    How do I add training materials or events?
                  </a>
                </h4>
              </div>
              <div id="collapseFour-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-2">
                <div class="panel-body">
                  <p>
                    You cannot upload training materials and events directly to TeSS (to do this, we encourage you to
                    use
                    3<sup>rd</sup>-party repositories, such as GOBLET).
                  </p>

                  <p>
                    Registered users of TeSS can, however, add links
                    to training materials manually from the <a href="/materials">training materials page</a>, by
                    clicking
                    the 'Add training
                    material' button. In the form provided, simply complete the various fields, add a
                    link to the relevant resources and, where appropriate, attribute the content to a particular
                    provider.
                    By doing this, you effectively create what is termed a ‘training material’ in TeSS; this does not
                    contain the actual material,
                    but links to it on the content provider’s website or portal.
                  </p>

                  <p>
                    Alternatively, as mentioned above, training material and related information and metadata can be
                    ingested automatically using a content provider's API (if such exists), or by contacting the TeSS
                    development team to develop a suitable website scraper.
                  </p>

                  <p>
                    We disallow manual addition of events to TeSS - you should either register your event with the
                    <a href="http://iann.pro/" target="_blank">iAnn event dissemination system</a> or contact the TeSS
                    team to arrange inclusion of your training events automatically via your API or a website scraper.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    What is a training package?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Training packages in TeSS are bespoke collections of ‘training materials’. For example, you can
                    create
                    a course
                    by making a package of all training materials you plan to use in that course.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    How do I create a training package and add training material it?
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    This is a two-step process. First, you need to create a package from the <a
                  href="/packages">packages</a> page. Next,
                    you need to create a link from the relevant training material to that package (note:
                    training materials can belong to several training packages or workflows). To do this, navigate to
                    that particular training resource, select the 'Packages' tab, and select the appropriate package
                    from the drop-down list. This effectively adds the ‘training material’ to the selected package.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    What is a training workflow?
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    In TeSS, training workflows are essentially navigational tools that guide users, step-by-step,
                    through specific types of data analysis (e.g., protein sequence analysis, protein structure
                    analysis,
                    homology modelling, MS-based metabolomic analysis …), highlighting relevant tutorials, lessons,
                    software tools, databases, and so on, relevant to each step of the analysis pipeline.
                    From the available resources, users may select those of particular interest and assemble them into
                    their own customised training packages.
                  </p>

                  <p>
                    Users may navigate workflows in whatever way they wish, whether step-by-step according to the
                    predefined workflow, or skipping to steps that are more relevant to their training needs.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    How do I create a training workflow and add training information to it?
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    <a href="/workflows">Creating workflows</a> is still in a prototyping stage – we are currently
                    working
                    on a graphical
                    tool for creating and linking individual workflow steps.
                  </p>

                  <p>
                    Some example workflows are illustrated on the <a href="/workflows">workflows</a> page.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <a name="ack"> </a>

          <h2>Acknowledgements</h2>

          <h3>Funders, groups and people</h3>

          <p>
            TeSS is funded by:
          <ul>
            <li>ELIXIR (<a href="http://www.elixir-europe.org/excelerate" target="_blank">ELIXIR-EXCELERATE grant</a> by the European Commission within the Research Infrastructures programme of Horizon 2020, grant agreement number 676559)
            </li>
            <li>
              BBSRC UK (<a href="http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L005050/1" target="_blank">Delivering ELIXIR-UK grant</a>, grant agreement number BB/L005050/1)
            </li>
          </ul>
          </p>
          <p>
            The TeSS team would like to acknowledge the help of a number of groups and individuals and thank them for
            useful discussions, feedback and help while developing TeSS - to name but a few:
          <ul>
            <li>ELIXIR technical staff and coordinators from the Hub, in particular Rafael Jimenez, Martin Cook and
              Premysl Velek
            </li>
            <li>Training coordinators from ELIXIR-NL (Celia van Gelder) and ELIXIR-CH (Patricia Pelagi)</li>
            <li>Structural bioinformatics group (lead by Chistine Orengo and Cath Brooksbank)</li>
          </ul>
          </p>

          <a name="software"> </a>

          <h3>Image credits</h3>

          <p>
          <ul>
            <li>
              <a href="https://commons.wikimedia.org/wiki/File%3AExome_Sequencing_workflow_1b.png">Exome Sequencing
                workflow</a>, by Sarah Kusala [licenced under
              <a href="https://creativecommons.org/licenses/by/3.0/deed.en">Creative Commons Attribution 3.0 Unported
                (CC BY 3.0)</a>]
            </li>
            <li>
              <a href="https://www.flickr.com/photos/abee5/8314929977">Books HD</a>, by Abhi Sharma [licenced under
              <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic (CC BY
                2.0)</a>]
            </li>
            <li>
              <a href="https://commons.wikimedia.org/wiki/File:Packaging_Hager.JPG">Packaging Hager</a>, by Hager Group
              [licenced under
              <a href="https://commons.wikimedia.org/wiki/Commons:Licensing">Wikipedia Commons:Licensing</a>]
            </li>
            <li>
              <a href="https://www.flickr.com/photos/pinomoscato/3910203886">University of Manchester - Old and New</a>,
              by Giuseppe Moscato [licenced under
              <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons
                Attribution-NonCommercial-ShareAlike 2.0 Generic (CC BY-NC-SA 2.0)</a>]
            </li>
          </ul>
          Other images used on the site are (c) ELIXIR.
          </p>

          <h2>Software</h2>

          <p>
            TeSS is populated either automatically, by scraping training information from content providers using
            special scraper scripts which add links to training resources to TeSS, or by
            adding links to training resources manually by users.
          </p>

          <p>
            Hence, TeSS consists of the portal software, implemented using the Ruby on Rails framework, and the
            scraping/aggregation scripts written in Ruby. Both the
            <a href="https://github.com/ElixirUK/TeSS">TeSS portal source code</a> and the
            <a href="https://github.com/ElixirUK/TeSS_scrapers">scraping/aggregation scripts</a> are open source,
            licensed under the <a href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-clause license</a>, and can
            be found at GitHub.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>