<div class="legal-block">
  <h1>Privacy</h1>

  <h3>Information Submitted</h3>

  <h4>Registration</h4>
  <p>
    When you register with TeSS we ask for a username, password and email address.
  </p>
  <ul>
    <li>
      Your username is used for authentication and attribution.
      This information is publicly visible, e.g. when a user views a resource you have created.
    </li>
    <li>
      Your password is stored as a cryptographically-secure hash and is not publicly visible.
    </li>
    <li>
      Your email address is used to confirm your identity and for use when requesting your password to be reset.
      This email address is not publicly visible, but you may specify an additional public email address (see below).
    </li>
  </ul>

  <h4>Additional Personal Information</h4>
  <p>
    You may additionally provide a profile, containing your name, a public email address, website link and avatar.
    This information is publicly available to all users.
  </p>

  <h4>Creation of TeSS Resources</h4>
  <p>
    The details of any training materials and events that you register will be publicly visible and searchable.
    Any workflows and packages created can be opted to be made private, in which case only you, any collaborators you specify, and the TeSS administrators will be able to view and search for them.
  </p>

  <h3>Information Automatically Collected</h3>

  <h4>Server Logs</h4>
  <p>
    When you browse TeSS, the server automatically records logs of which pages you access, when you accessed them, and your IP address.
    These logs are used to fix errors and are not shared with any third parties.
    Sensitive information (such as passwords) is automatically stripped out.
  </p>

  <h4>Analytics</h4>
  <p>
    TeSS uses Google Analytics to track how users are discovering TeSS and interacting with the service.
    The information gathered includes which pages you visited, which search terms lead you to TeSS and information about your
    web browser. No personally identifiable information is sent to Google.
  </p>

  <h3>Information Retention</h3>

  <p>
    Your information will be retained by TeSS until you choose to remove it, you delete your account, or the TeSS service ceases to exist.
  </p>

  <h3>Code of Conduct</h3>

  <p>
    TeSS adheres to the
    <a href="https://wiki.refeds.org/display/CODE/Code+of+Conduct+for+Service+Providers">
      GÉANT Data Protection Code of Conduct for Service Providers in EU/EEA
    </a>
  </p>

  <em>The TeSS service is provided as part of ELIXIR-UK by:</em>
  <address>
    <strong>The TeSS Team</strong><br/>
    Room 1.17 c/o School of Computer Science,<br/>
    Kilburn Building,<br/>
    Oxford Road,<br/>
    Manchester,<br/>
    M13 9PL
  </address>
</div>
