<h1>TeSS</h1>

<% if user_signed_in? %>
<p>Signed in as <%= current_user[:username] -%></p>
<% else %>
<p>Not signed in.</p>
<% end %>

<ul>
<% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, {:method => :delete}) %>
    </li>
<% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
<% end %>
 </ul>