<div class="wrapper">
  <div id="content">
    <h2><%= t('subscriptions.title') %></h2>
    <%= render @subscriptions %>
    <% if @subscriptions.none? %>
        <span class="muted"><%= t('subscriptions.none') %></span>
    <% end %>
  </div>
</div>
