<div class="wrapper">
  <div id="content">
    <h2>Subscriptions</h2>
    <%= render @subscriptions %>
    <% if @subscriptions.none? %>
        <span class="muted">You have no subscriptions.</span>
    <% end %>
  </div>
</div>
