<div class="page-header">
  <%= page_title('New Learning Path Topic') %>
</div>
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%= render :partial => "learning_path_topics/partials/general_learning_path_topic_info" %>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <%= render partial: 'form' %>
  </div>
</div>
