---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: code=123xyz&grant_type=authorization_code&redirect_uri=https%3A%2F%2Flocalhost%3A3001%2Forcid%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"12345678-1234-1234-1234-123412341234","token_type":"bearer","refresh_token":"12345678-1234-1234-1234-123412341234","expires_in":631138518,"scope":"/authenticate",
      "name":"Joe Bloggs","orcid":"0009-0006-0987-5702"}'
  recorded_at: Fri, 28 Nov 2025 15:23:49 GMT
recorded_with: VCR 6.2.0
