<ul class="unstyled nav-simple">
  <%# workflow  %>
  <li><h4 class="nav-heading">Workflow</h4></li>
  <li style="padding: 7px 20px;">
    <h5>
      <%= workflow.title %>
    </h5>
    <% unless workflow.description.blank? %>
        <p class="minimise">
          <%= workflow.description %>
        </p>
    <% end %>
  </li>
  <li><h4 class="nav-heading">Owner</h4></li>
  <li style="padding: 7px 20px;">
    <%= workflow.user.name %>
  </li>
</ul>
