<table>
  <tbody>
  <tr>
    <td width="20"></td>
    <td>
      <% digest.each do |result| -%>
        <%= link_to(result.title, result, style: 'color: #f57d20; font-weight: bold; text-decoration: none') %><br/>
        <%= truncate(result.description, length: 120, separator: ' ') %><br/><br/>
      <% end -%>
    </td>
  </tr>
  </tbody>
</table>
