<%= link_to '#', class: 'btn btn-primary collaborators-button',
            data: { toggle: 'modal', target: '#collaborators-modal'} do %>
    <i class="fa fa-users" aria-hidden="true"></i> Collaborators
<% end %>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="collaborators-modal-title" id="collaborators-modal" data-url="<%= polymorphic_path([resource, :collaborations]) -%>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="collaborators-modal-title">
          <i class="fa fa-users" aria-hidden="true"></i> Collaborators
        </h4>
      </div>

      <div class="modal-body">
        <h4>Current collaborators:</h4>
        <ul class="collaboration-list">
          Loading
          <%# Content inserted via javascript (see: collaborations.js %>
        </ul>

        <div class="input-group">
          <input type="text" autocomplete="off" class="form-control" id="collaborators-modal-add" placeholder="Add a new collaborator...">
          <input type="hidden" id="collaborators-modal-add-id">
          <span class="input-group-btn">
            <a href="#" class="btn btn-default disabled" type="button" id="collaborators-modal-add-btn">
              Add
            </a>
          </span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    $('.collaboration-list').on('click', '.delete-collaboration', Collaborations.delete);
    $('#collaborators-modal').on('show.bs.modal', Collaborations.fetch);
    $('#collaborators-modal-add-btn').click(Collaborations.add);

    $('#collaborators-modal-add').autocomplete({
      lookup: $.map(<%= render(partial: 'users/list.json.jbuilder', locals: { users: User.all }).html_safe -%>, function(dataItem) {
        var ob = { value: dataItem.username, data: dataItem.id };
        if (dataItem.firstname) {
          ob.value = ob.value + ' (' + dataItem.firstname + ' ' + dataItem.surname + ')';
        }
        return ob;
      }),
      onSelect: function (suggestion) {
        $('#collaborators-modal-add-id').val(suggestion.data);
        $('#collaborators-modal-add-btn').removeClass('disabled');
      },
      onInvalidateSelection: function () {
        $('#collaborators-modal-add-id').val('');
        $('#collaborators-modal-add-btn').addClass('disabled');
      }
    });
  });
</script>
