.announcement {
  color: #333;
  border: 1px solid #ddd;
  background: #ffc;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  line-height: 1.7;
}

#front-page-announcement {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

#flash-container {
  text-align: center;
}

.header-notice {
  background-color: $state-info-bg;
  color: $state-info-text;
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: #ddd;
  z-index: 2;

  .btn {
    margin-bottom: 5px;
  }
}

.sticky-navbar-enabled {
  .navbar {
    border-radius: 0;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    transition: font-size 0.3s ease, padding-bottom 0.3s ease, padding-top 0.3s ease;

    &.scrolled {
      font-size: medium;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .unified-header {
    z-index: 100000;
    position: sticky;
    top: 0;
    background-color: $navbar-default-bg;

    .navbar-brand {

      img {
        padding: 0px 0px 0px 0px;
        transition: padding 0.3s ease;

        &.scrolled {
          padding: 10px 5px 5px 5px;
        }
      }
    }
  }

  .header-notice + .navbar {
    padding-bottom: 20px;
    padding-top: 20px;
    &.scrolled {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .header-notice-present {
    .header-notice {
      z-index: 100001;
      position: sticky;
      top: 0;
    }
  }
}
