<div class="listing_item">
  <p>Title: <%= link_to(content_provider.title, content_provider) %></p>
  <p>URL: <%= content_provider.url %></p>
  <p>Description: <%= content_provider.description %></p>
    <%= image_tag content_provider.logo_url %>
</div>
