<script>
    $('.grid').masonry({
        // options...
        itemSelector: '.grid-item',
        columnWidth: 10
    });
</script>

<%- model_class = ContentProvider -%>
<div class="page-header">
  <h1><%=t '.title', :default => pluralize(@content_providers.count, model_class.to_s.titleize)%> Found</h1>
</div>


<div class="grid listing-container">
    <% @content_providers.each do |content_provider|  %>
        <div class="grid-item">
          <%= render content_provider %>
        </div>
    <% end %>
</div>