<script>
    $('.grid').masonry({
        // options...
        itemSelector: '.grid-item',
        columnWidth: 10
    });
</script>
<div class="grid">
    <% @content_providers.each do |content_provider|  %>
        <div class="grid-item"><%= render content_provider %></div>
    <% end %>
</div>