<script>
    $('.grid').masonry({
        // options...
        itemSelector: '.grid-item',
        columnWidth: 10
    });
</script>

<%- model_class = ContentProvider -%>
<div class="page-header">
  <h1><%=t '.title', :default => pluralize(@content_providers.count, model_class.to_s.titleize)%> Found</h1>
<!-- CREATE NEW BUTTON -->
  <%= link_to new_event_path, :class=>"btn btn-primary" do %>
      <i class="fa fa-plus-square"></i> Create Event
  <% end %>
</div>





<div class="grid listing-container">
    <% @content_providers.each do |content_provider|  %>
        <div class="grid-item">
          <%= render content_provider %>
        </div>
    <% end %>
</div>