  
    <!-- SIDEBAR -->
    <div data-spy="scroll" data-target="navbar-example" class="col-md-3" id="sidebar" style="position:relative">
      <ul class="unstyled  nav-tabs" class='navbar-example' role="tablist">
        <li><h4 class="nav-heading">About</h4></li>
        <li class="nav-item">
          <a href="#about" title="">
            TeSS
          </a>
        </li>
        <li class="nav-item">
          <a href="#about" title="">
            -- Be included in the TeSS registry
          </a>
        </li>
        <li class="nav-item">
          <a href="#about" title="">
            ---- Automatic Registration
          </a>
        </li>         
        <li class="nav-item">
          <a href="#about" title="">
            ---- Manual Registration
          </a>
        </li>         
        <li class="nav-item">
          <a href="#about" title="">
            -- Share training with your community
          </a>
        </li> 
        <li class="nav-item">
          <a href="#about" title="">
            ---- Widgets
          </a>
        </li> 
        <li class="nav-item">
          <a href="#about" title="">
            ---- API
          </a>
        </li> 
        <li class="nav-item">
            <%= link_to "Project", controller: 'about', action: 'project' %>
        </li>
        <li class="nav-item">
            <%= link_to "Features", controller: 'about', action: 'features' %>
        </li>
        <li class="nav-item">
          <a href="#workflows" title="">
            -- Workflows
          </a>
        </li>


        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a href="#howtoadd">
            How to add your resources
          </a>
        </li>
        <li class="nav-item">
          <a href="#api">
            API
          </a>
        </li>
        <li class="nav-item">
          <a href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#ack">
            Acknowledgements
          </a>
        </li>
        <li class="nav-item">
          <a href="#software">
            Software
          </a>
        </li>

      </ul>
    </div>
