  <div class="row">

  <%= render :partial => 'about_nav' %>

	<div class="col-lg-9">

	          <div id='workflows' class="h3">Training Workflows</div>

	          <p>
	            TeSS includes a number of graphical ‘training workflows’. There are three main workflow concepts - Educational Resources, Learning Pathways and Concept Maps. These encapsulate different types of, and/or approaches to, training, at different levels of granularity, within easy-to-use visual displays.
	          </p>


	        <h4>Learning Paths</h4>
				<p>Trainees wishing to learn new skills essentially need to embark on a path, or developmental trajectory, in order to advance from one competency level to another. Learning paths aim to structure relevant training modules within simple visual workflows that highlight the set of resources users need to study in order to advance to higher competency levels, and hence accomplish their learning objectives. Learning paths are being developed by ELIXIR TeSS, ELIXIR-NL and ELIXIR UK.</p>
			<h4>Concept Maps</h4>
				<p>ELIXIR has developed several registries that contain and promote resources that end-users can exploit: training resources in TeSS; software tools in bio.tools; databases, standards and policies in Fairsharing. Concept maps provide overviews of typical data-analysis pipelines, surfacing the relevant tools and databases, and showing how these resources fit together. Concept maps are being developed by ELIXIR TeSS, ELIXIR-EE and ELIXIR-BE. </p>
			<h4>Educational Resource</h4>
				<p>Trainees are provided with sets of practical tasks, linked to associated online tools and/or databases, within self-contained ‘modules’. Each module includes a series of questions or ‘Reflections’ to provoke critical thinking about the tasks trainees have completed. Workflows of this type are also accompanied by succinct statements of teaching aims and learning outcomes, to convey to trainees what they will be able to do once they have completed a given module. Multiple Choice Quiz questions are also provided to verify trainee understanding at the end of a module; and additional background information and further reading are included to help support trainee learning and enquiry. Educational Resources for introductory sequence and structural bioinformatics are currently being developed by ELIXIR TeSS, ELIXIR-UK and the UK Structural Bioinformatics group (via the FunPDBe project). 
					</p>


	          <h3>Subscription Service</h3>
	          <p>To stay informed about courses, workshops and conferences that interest you, you can use TeSS’s subscription feature. Simply select the relevant filters and click the subscribe button. You can then choose to receive email notifications about upcoming events, or have them automatically added to your preferred calendar application.</p>
	            <%= image_tag 'about/subscription.png', class: "widgets_guide"%>

	</div>
	</div>