
<%= render :partial => 'about_nav' %>

<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <div data-spy="scroll" data-target="navbar-example" class="col-md-3" id="sidebar" style="position:relative">
      <ul class="unstyled  nav-tabs" class='navbar-example' role="tablist">
        <li class="nav-heading h4"><%= link_to 'What is TeSS?', about_path %></li>
        <li class="nav-heading h4"><%= link_to 'How To Include Your Content', features_path %></li>
      </ul>
    </div>
  </div>


  <div id="content">
    <div class="row">
      <div class="col-lg-9">
        TeSS is
      </div>
    </div>
  </div>


</div>