.activity {
  padding: 5px;

  .sub-activity {
    margin-left: 2em;
  }
}

.activity-log-button {
  text-decoration: none;
  color: $primary-color;
  &:hover, &:active, &:focus {
    color: $secondary-color;
    text-decoration: none;
  }
}
