/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

.listing_item {
  border-style: solid;
  border-color: lightgray;
  padding: 10px;

}

.grid-item{
    width: 30%;
    margin-bottom: 5px;
}

.nav_search_bar_container {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    margin-top: -20px;
}
.nav_search_bar {
	width: 30%;
    margin-left: auto;
}

.listing_container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

.listing_image {
    min-height: 75px;
    max-height: 100px;
    max-width: 100%;
}

.iann {
    float:right;
    height: 50px;
}

.timestamp {
    color: grey;
    font-style: italic;
}
.search_box_large {
    width: 80%;
    height: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;

    vertical-align: middle;
}

.remove_applied_filter {
    padding: 6px 10px;
    background-color: lightgray;   
}



.include_expired {
    float: right;
}
/*
 *Added from bootstrap CSS as a hack.
 */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #54f037;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}

.alert-notice {
    color: #3c763d;
    background-color: #9cf0a7;
    border-color: #d6e9c6;
    margin-top: 10px;
    padding: 5px;
    border: 1px;
    border-color: #77bf82;
    text-align: center;
}
.alert-notice hr {
    border-top-color: #c9e2b3;
}

.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-top: 5px;
}
.alert-alert hr {
    border-top-color: #e4b9c0;
}
.alert-alert .alert-link {
    color: #843534;
}





.masthead, .navbar-default{
    background-color: #F8761F;
    background: #F8761F url("https://tess.elixir-uk.org/base/images/bg.png");
}

.masthead .content {
    top: 35px;
    right: -30px;
}


.navbar .nav > li > a {
    padding: 10px 7px;
    color: #FFFFFF;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
    background-color: #C95911;
    color: #EFCAB2;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
li.active {
    color: hotpink;
}
.masthead .navigation .nav-pills li.active a {
    background-color: #A74100;
    color: #EFCAB2;
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.masthead .site-search input {
    width: 170px;
}

.navbar .nav > li {
    font-weight: normal;
    font-size: medium;
}
.account-masthead .account ul li {
    display: block;
    float: left;
    border-left: 1px dotted #D4D4D4;
}



/*
Dark Orange #F8761F
Light Orange #FFAC74
Text Color #FFAC74

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: #333333;
    border-bottom: 1px solid #EEEEEE;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
    background-color: #F8761F;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
    color: #FFFFFF;
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
    color: #EFCAB2;
    background-color: #A74100;
}



/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */
.account-masthead {
    *zoom: 1;
    min-height: 30px;
    color: #ffffff;
}
.account-masthead:before,
.account-masthead:after {
    display: table;
    content: "";
    line-height: 0;
}
.account-masthead:after {
    clear: both;
}
.account-masthead .account {
    float: right;
}
.account-masthead .account ul {
    *zoom: 1;
}
.account-masthead .account ul:before,
.account-masthead .account ul:after {
    display: table;
    content: "";
    line-height: 0;
}
.account-masthead .account ul:after {
    clear: both;
}
.account-masthead .account ul li {
    display: block;
    float: left;
}
.account-masthead .account ul li a {
    display: block;
    color: #bfd7de;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}
.account-masthead .account ul li a span.username {
    margin: 0 2px 0 4px;
}
.account-masthead .account ul li a:hover {
    color: #d9e7eb;
    text-decoration: none;
}
.account-masthead .account ul li a.sub {
    font-weight: 300;
}
.account-masthead .account ul li a .btn {
    vertical-align: 1px;
    margin-left: 3px;
}
.account-masthead .account .notifications a span {
    font-size: 12px;
    margin-left: 3px;
    padding: 1px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.account-masthead .account .notifications a:hover span {
    color: #ffffff;
    background-color: #000f14;
}
.account-masthead .account .notifications.notifications-important a span {
    color: #ffffff;
    background-color: #c9403a;
}
.account-masthead .account.authed .image {
    padding: 0 6px;
}
.account-masthead .account.authed .image img {
    vertical-align: -6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}