/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "mixins/variables";
// *** Colour changes can be done here! ***
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins/mixins";
@import "*";
@import "cytoscape-panzoom";
@import "jquery.simplecolorpicker";
@import "eonasdan-bootstrap-datetimepicker";
@import "ardc_vocab_widget_v2";
@import "jquery.qtip.min";

// Sticky but not fixed footer
// http://cbracco.me/css-sticky-footer-effect/
html {
  height: 100%;
  position: relative;
}

body {
  min-width: 320px;
  position: relative;
  margin: 0;
  padding-bottom: 500px;
  min-height: 100%;
}

h1 {
  font-weight: 900;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.sub-heading {
  font-weight: lighter;
  font-size: $font-size-large;
  line-height: 24px;
  text-transform: uppercase;

  p {
    margin: 0;
  }
}

section {
  padding: 30px 0;
}

.module-heading {
  margin: 50px 0;
}

a.btn-icon {
  transition: 0s;
  &:hover {
    // this filter gives $secondary-color
    filter: brightness(0) saturate(100%) invert(28%) sepia(93%) saturate(1217%) hue-rotate(168deg) brightness(102%) contrast(97%);
  }
  &:active {
    filter: brightness(0) saturate(100%) invert(28%) sepia(93%) saturate(1217%) hue-rotate(168deg) brightness(102%) contrast(97%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

div.wrapper {
  *zoom: 1;
  margin-bottom: 20px;
  display: flex;

  &.collapsing-wrapper {
    // Divs that were arranged left -> right will collapse to bottom -> top
    @media (max-width: $screen-md-min) {
      flex-direction: column-reverse;
    }
  }

  &.collapsing-wrapper-tb {
    // Opposite to above
    @media (max-width: $screen-md-min) {
      flex-direction: column;
    }
  }
}

#main-container,
#header-container {
  max-width: 1400px;
}

#content {
  padding: 15px;
  flex-grow: 1;
  overflow: hidden;
}

#sidebar {
  width: 280px;
  padding: 50px 15px 15px 15px;
  margin-right: 80px;
  flex-shrink: 0;

  .sidebar-group {
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
  }

  &.collapsing-sidebar {
    @media (max-width: $screen-md-min) {
      width: 100%;
      border-right: none;
    }
  }

  &.popout-sidebar {
    @media (max-width: $screen-md-min) {
      padding: 0;
      width: calc(100% - 30px);
      position: absolute;
      z-index: 10;
      background: white;
      border-bottom: 1px solid #ccc;
      display: none;

      &.open {
        display: block;
      }
    }
  }

  // Sidebar facet styles
  table tr td.h4 {
    padding-left: 10px;
  }

  table tr td {
    padding-left: 20px;
  }

  table tr td a {
    color: #000;
    padding: 3px;
    text-decoration: none;
  }

  table tr td a:hover {
    background-color: #b0c3c9;
    color: #fff;
    padding: 3px;
    text-decoration: none;
  }

  .clear-filters-btn {
    float: right;
    margin: 5px 0;
  }
}

.facet-sort-wrap {
  position: relative;
  margin-bottom: 80px;
}

.facet-sort {
  padding-left: 36px;
}

.facet-sort-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.facet-select {
  border-radius: 0;
  border-width: 1px 0;
}

#sidebar-toggle {
  display: none;

  @media (max-width: $screen-md-min) {
    display: inline;
  }
}

#sidebar-header {
  display: none;

  @media (max-width: $screen-md-min) {
    display: block;
  }
}

// Style for empty results etc.
.empty {
  color: #aaa;
  font-style: italic;
}

// Override Bootstrap's alert
.alert {
  margin-bottom: 0;
  margin-top: 5px;
}

// Bootstrap's row
.row {
  margin: 10px 0 10px 0;
  //padding: 0px 0px 10px 0px;  // Do not add padding to the row - messes up sidebar etc.
}

// From https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;

  /* Instead use this non-standard one: */
  // word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.listing_image {
  max-width: 150px;
  max-height: 65px;
}

// Modified from CKAN - for sidebar facets
ul.unstyled {
  margin-left: 0;
  list-style: outside none none;
  padding-left: 0;
}

.nav-simple {
  margin: 0;
  list-style: outside none none;
  padding-bottom: 0;
}

.nav-simple li {
  padding: 0;
}

.nav-simple li:last-of-type {
  border-bottom: 0 none;
}

.nav-simple {
  .form-control {
    border: 0;
    box-shadow: none;
  }
}

.nav-block {
  padding: 7px 20px;
}

.nav-item {
  padding: 7px 20px;
  width: 100%;
}

.nav-item > a {
  position: relative;
  display: block;
  color: #333;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}

.nav-item > a:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.nav-item.active > a {
  position: relative;
  color: $secondary-color;
  background-color: #eee;
}

// End CKAN's sidebar facets

// Facet's title
.nav-heading {
  padding: 10px;
  //background-color: #f6f6f6;
  margin: 0;
}

.facet-option {
  display: flex !important;

  .facet-label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .facet-count, .remove-facet-icon {
    flex-shrink: 0;
    display: inline-block;
  }
  .facet-count {
    color: #999;
  }
}

.active-filters {
  .remove-facet-icon {
    margin-left: 5px;
  }
}

.show-page-description {
  padding: 50px 0;
}

.tiny-avatar {
  max-width: 32px;
  min-width: 16px;
  border-radius: 2px;
  margin-left: 5px;
}

.small-avatar {
  max-width: 64px;
  min-width: 32px;
  border-radius: 4px;
  margin-left: 10px;
}

.medium-avatar {
  max-width: 50%;
  min-width: 100px;
  margin: 0 10px 10px 0;
}

.small-trainer-logo {
  max-width: 80px;
  border-radius: 4px;
  margin-left: 10px;
}

.medium-trainer-logo {
  max-width: 160px;
  border-radius: 4px;
  margin-left: 0;
}

.large-trainer-logo {
  max-width: 240px;
  border-radius: 4px;
  margin-left: 0;
}

.rounded-avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.search-results-count {
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  display: inline-block
}


/* try adding !important  after 0px if doesn't work */

// Multiple input list on forms with + button to add more input fields dynamically
.multiple-input-list {
  //
  //.multiple-input-add {
  //  height: $input-height-base;
  //}

  .multiple-list-item {
    margin-bottom: 15px;
    display: inline-block;
    width: calc(100% - 72px);

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      width: calc(50% - 36px);
    }

    @media (min-width: $screen-lg-min) {
      width: calc(33% - 24px);
    }

    .multiple-input {
      display: inline;
      width: calc(100% - 60px);
    }

    .multiple-input-delete {
      display: inline;
    }
  }
}

.dropdown-toggle {
  cursor: pointer;
  //padding: $padding-base-horizontal $padding-base-vertical;
}

.dropdown-option {
  cursor: pointer;

  &:hover {
    background: $dropdown-link-hover-bg;
  }
}

.dropdown-menu {
  padding: $padding-base-vertical $padding-base-horizontal;
}

.dropdown-option-delete {
  background: none;
  border: none;
}

/* The max width is dependant on the container (more info below) */
.popover {
  max-width: 500px !important; /* Max Width of the popover (depending on the container!) */
}

// To make bootstrap button wrap button text into multiple lines
.btn {
  white-space: normal !important;
}

// Override margin for boostrap-s page-header
.page-header {
  margin: 20px 0 20px;
  border: none;
  padding: 0;
}

sup {
  vertical-align: top;
  position: relative;
  top: 5px;
}

.announcement {
  color: #333;
  border: 1px solid #ddd;
  background: #ffc;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  line-height: 1.7;
}

#front-page-announcement {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

#flash-container {
  text-align: center;
}

.schemaorg-element {
  display: none;
}

.search-panel {
  padding-top: 5px;

  .btn, .searchbox-sm, .input-group input {
    margin: 5px 0;
  }
}

.searchbox-sm {
  form {
    padding-right: 10px;
    text-align: center;
    margin: auto;
    max-width: 800px;

    border: none;
    border-radius: 50px;
    background-color: #F4F4F4;

    .searchbox-wrapper {
      display: flex;
    }

    .searchbox-field {
      border: none;
      box-shadow: none;
      outline: 0 none;
      background: transparent;
      padding: 5px 5px 5px 15px;
      flex: 1;
      min-width: 220px;
      border-radius: 100px;
    }

    .searchbox-btn {
      border: none;
      background-color: transparent;
      opacity: 0.5;
      box-shadow: none;
      padding: 8px 8px 8px 8px;
      flex-shrink: 0;

      transition: $transition-time;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.info-box {
  .info-box-header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 4px;
  }

  .info-box-content {
    margin-top: 10px;
  }
}

.muted {
  color: #999;
}

.preview-image {
  overflow: auto;

  > img {
    width: 100px;
    max-height: 150px;
    margin: 0 10px 10px 0;
    float: left;
  }
}

.bounding-box {
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.resource-type-icon {
  text-align: center;
}

.info-icon {
  font-size: 24px;
}

.info-icon-small {
  font-size: 16px;
}

.info-icon-large {
  font-size: 48px;
}

.gap {
  padding: 0 5px;
}

.delete-icon {
  vertical-align: middle;
  color: $brand-danger;
  font-weight: bold;
  font-size: 120%;

  &:hover {
    color: darken($brand-danger, 20%);
  }
}

.tool-suggestions-header {
  margin-bottom: 20px;
  color: $gray-darker;
}

.external-links {
  margin-top: 10px;
}

.fresh-icon {
  color: $brand-success;
  margin-left: 5px;
}

.stale-icon {
  color: $brand-warning;
  margin-left: 5px;
}

.missing-icon {
  color: $brand-danger;
  margin-left: 5px;
}

.event-started-icon {
  color: $brand-info;
  margin-left: 5px;
}

.event-expired-icon {
  color: $gray;
  margin-left: 5px;
}

.days_ago_text {
  color: grey;
  font-style: italic;
}

.latest_resource_description {
  /*
  min-width: 500px;
  min-height: 20px;
  */
  word-wrap: break-word;
}

div.legal-block {
  max-width: 800px;
  margin: auto;
}

input.loading {
  background: image-url('ajax-loader.gif') no-repeat right center;
}

.btn.loading {
  padding-right: 24px;
  background: image-url('ajax-loader.gif') no-repeat right center;
}

.url-wrap {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}

.loading_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bs-type-selectors ul {
  display: inline;
  padding: 0;
  padding-inline-start: 0;

  li {
    display: inline;
    padding: 10px;
  }
}

input[type=checkbox].field-lock {
  display: none;
}

input[type=checkbox].field-lock + label:before {
  font-family: FontAwesome;
  cursor: pointer;
  display: inline-block;
  content: "\f09c";
  letter-spacing: 10px;
  margin-left: 0.5em;
  vertical-align: middle;
  width: 1.5em;
}

input[type=checkbox].field-lock:checked + label:before {
  content: "\f023";
}

input[type=checkbox].field-lock:checked + label:before,
.field-lock-example-locked {
  color: $brand-success;
  font-size: 110%;
}

input[type=checkbox].field-lock + label:before,
.field-lock-example-open {
  color: $brand-warning;
  font-size: 110%;
}

.keyword-button {
  margin-right: 5px;
}

.external-button {
  margin-right: 5px;
}

.alert-info a {
  text-decoration: underline;
}

#why-register {
  ul {
    font-size: $font-size-large;

    li {
      margin: 1em 0;
    }
  }
}

.selected-tab {
  color: inherit;
  text-decoration: underline;
}

.term_suggestions .dropdown-backdrop {
  display: none;
}

.funding-logo {
  width: 100px;
  margin: 15px;
}

.list-card {
  @include floating-card;
  margin: 0 10px 10px 0;
  position: relative;
  display: block;
  padding: 30px;

  h4 {
    margin: 0;
  }

  .list-card-heading {
    display: block;
    padding: 5px 0;
    line-height: 1.3;

    color: $primary-color;
    text-decoration: none;
  }
}

.header-notice {
  background-color: $state-info-bg;
  color: $state-info-text;
}

.omniauth-elixir_aai {
  width: 240px;
}

.omniauth-oidc {
  height: 42px;
}

.affix {
  width: 280px;
  border-right: 1px solid #ccc;
  top: 0;
  z-index: 5;
}


// minor fix of the icon's alignment
.glyphicon-remove {
  top: 3px;
}


.description {
  border: 1px solid lightgrey;
  padding: 18px;
  border-radius: 5px;
  margin: 8px 0;
}

.description, .markdown {
  h1, h2 {
    font-size: $font-size-large;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
  }
  h2 {
    padding-bottom: 6px;
  }
  h3, h4, h5, h6 {
    font-size: $font-size-base;
    padding-bottom: 4px;
  }
}

.filter-heading {
  cursor: pointer;
  color: $primary-color;
}

.filter-heading-active {
  color: $secondary-color;
}

.embedded-content {
  margin: 2em auto;

  iframe {
    display: block;
    margin: auto;
  }
}

.expand-filters {
  text-align: right;
  padding: 7px 20px 7px 20px !important;
  a {
    font-size: $font-size-small;
    color: $gray-light !important;
    cursor: pointer;
  }
}

.bulk-import-row {
  border-bottom: 1px solid #ccc;
  .scraped-metadata p {
    margin: 0;
  }
}

.users-list {
  .masonry-brick {
    img {
      border-radius: 8px 0 0 8px;

      float: left;
      margin-right: 8px;
    }
  }
}

.test-controls {
  padding: 10px;
  display: inline-block;
}

.collapsible-panel {
  .collapsible-panel-link {
    display: block;
    cursor: pointer;

    .panel-title:after {
      /* symbol for "opening" panels */
      font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
      float: right; /* adjust as needed */
      content: "\e113"; /* adjust as needed, taken from bootstrap.css */
    }
    &.collapsed {
      @include border-bottom-radius(($panel-border-radius - 1));
      .panel-title:after {
        /* symbol for "collapsed" panels */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
      }
    }
  }
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: #ddd;
  z-index: 2;

  .btn {
    margin-bottom: 5px;
  }
}

.content-actions {
  gap: 10px;
  display: flex;
  width: 100%;

  .content-viewer-actions > .btn,
  .content-viewer-actions > .btn-group,
  .content-manager-actions > .btn,
  .content-manager-actions > .btn-group {
    margin-top: 5px; /* So they have some vertical spacing when collapsed on small screens */
  }

  .content-viewer-actions {
    flex-grow: 1;
    text-align: left;
  }

  .content-manager-actions {
    flex-grow: 1;
    text-align: right;
  }
}

.tess-expandable {
  transition: max-height 0.4s ease-in-out;
  overflow-y: hidden;

  &.tess-expandable-closed {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  &.tess-expandable-open {
    border-bottom: none;
  }
}

.tess-expandable-btn {
  cursor: pointer;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}
