/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 = require jquery-ui
 = require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "*";

.workflow_image {
  width: 100%;
}

.profile{
  margin-bottom: 30px;
}

a:hover {
  color: steelblue;
  background-color: transparent;
  text-decoration: none;
}

// Bootstrap's breadcrumbs
.breadcrumbs {
  margin-top: 5px;
}
.breadcrumb {
  margin-bottom: 10px;
}

// Style for empty results etc.
.empty {
  color: #aaaaaa;
  font-style: italic;
}

// Bootstrap's primary button
.btn-primary {
  background: #206B82;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #085871;
}

// Override Bootstrap's alert
.alert {
  margin-bottom: 0px;
  margin-top: 5px;
}

.btn-primary:active, .btn-primary.active {
  background: #064559;
}

div#sidebar {
  padding: 0px;
  border-right: 1px solid #cccccc;
}

div#sidebar table tr td.h4 {
  padding-left: 10px;
}

div#sidebar table tr td {
  padding-left: 20px;
}

// Bootstrap's row
.row {
  margin: 10px 0px 10px 0px;
  //padding: 0px 0px 10px 0px;  // Do not add padding to the row - messes up sidebar etc.
}

div.wrapper {
  *zoom: 1;
  background-color: #FFF;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

// Sidebar with facet filtering
div#sidebar table tr td a {
  color: #000000;
  padding: 3px;
  text-decoration: none;
}

div#sidebar table tr td a:hover {
  background-color: #B0C3C9;
  color: #ffffff;
  padding: 3px;
  text-decoration: none;
}

// ######## Media-bricks modified from CKAN
.media-grid {
  margin: 0px 0px 15px 0px;
  list-style: none;
  *zoom: 1;
  padding-bottom: 15px;
  background: #fbfbfb url("/assets/bg.png");
  border: 1px solid #dddddd;
  border-width: 1px;
}

.media-grid:before,
.media-grid:after {
  display: table;
  content: "";
  line-height: 0;
}

.media-grid:after {
  clear: both;
}

.media-item {
  position: relative;
  float: left;
  width: 200px;
  padding: 15px;
  margin: 15px 0 0 15px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.media-item.long {
  width: 90%;
}

.media-item span.count {
  color: #999;
}

.media-item .media-image {
  margin-bottom: 5px;
}

.media-item .media-edit {
  opacity: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.media-item:hover {
  z-index: 1;
}

.media-item:hover .media-edit {
  opacity: 1;
}

li.media-item {
  list-style-type: none;
}

.media-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #dddddd;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
  -ms-word-break: break-all;
  word-break: break-word;
  /* Non standard for webkit */
  //word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.media-view:hover,
.media-view.hovered {
  border-color: #005d7a;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #005d7a;
}

.media-view span {
  display: none;
}

.media-view .banner {
  display: block;
  background-color: #b7b7b7;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.media-image {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.media-item .media-heading {

  font-size: 16px;
  line-height: 1.3;
  color: #005d7a;
  margin: 5px 0;
  -ms-word-break: break-all;
  word-break: break-word;
  /* Non standard for webkit */
  //word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.media-overlay {
  position: relative;
  min-height: 35px;
}

.media-overlay .media-heading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 10px;
  margin: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  color: #fff;
  z-index: 1;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.media-overlay .media-image {
  float: none;
  display: block;
  margin-right: 0;
}

.media-item.is-expander .truncator-link {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  position: absolute;
  z-index: 10;
  left: 15px;
  bottom: 15px;
  opacity: 0;
}

.media-item.is-expander:hover {
  padding-bottom: 35px;
}

.media-item.is-expander:hover .truncator-link {
  opacity: 1;
}

// From https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
 // word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.wide .media-item {
  width: 186px;
}

.listing_image {
  max-width: 150px;
  height: 50px;
}

// Override Boostrap's pagination colours
.pagination > li > a, .pagination > li > span {
  color: #206B82;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #206B82;
  border-color: #285e8e;
}

// Modified from CKAN - for sidebar facets
ul.unstyled {
  margin-left: 0px;
  list-style: outside none none;
  padding-left: 0px;
}

.nav-simple {
  margin: 0px;
  list-style: outside none none;
  padding-bottom: 0px;
}

.nav-simple > li {
  padding: 0px;
  border-bottom: 1px dotted #DDD;
}

.nav-simple > li:last-of-type {
  border-bottom: 0px none;
}

.nav-item {
  padding: 7px 20px;
}

.nav-item > a {
  //padding-left: 15px;
  //padding-right: 15px;
  position: relative;
  display: block;
  color: #333;
  //font-size: 14px;
  //line-height: 20px;
  //margin: -7px -25px;
  padding: 7px 20px;
  text-decoration: none;
}

.nav-item > a:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.nav-item.active > a {
  position: relative;
  color: #ffffff;
  background-color: #8CA0A6;
}

.nav-item.active > a:hover {
  color: #ffffff;
  background-color: #206B82;
}

// End CKAN's sidebar facets

// Facet's title
.nav-heading {
  padding: 10px;
  background-color: #F6F6F6;
  margin: 0px;
}

.filter-button {
  color: #ffffff;
  //background-color: #B0C3C9;
  background-color: #8CA0A6;
}

.show-page-description {
  font-size: medium;
  padding: 50px 0;
}

.small-content-provider-logo {
  max-width: 64px;
  border-radius: 4px;
  padding-left: 10px;
}

.medium-content-provider-logo {
  max-width: 98%;
  //border-radius: 5px;
  margin: 0px 10px 0px 0px;
}

.search-results-count {
  font-size: medium;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.event-show-map {
  height: 300px;
  width: 100%;
  float: right;
}

.welcome-text {
  //width: 40%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  //border: 1px solid #CECECE;
  //border-radius: 3px;
  width: 70%;
  margin: auto;
}

.panel-heading {
  display: block;
  cursor: pointer;
}

.panel-title {
  font-size: 13px;
  color: #005d7a;
}

.panel-title a {
  text-decoration: none;
  color: #005d7a;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
  content: "\e113"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
}

.panel-body {
  padding-bottom: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #337ab7;
}

.content_action {
  float: right;
  margin-top: -5px;
  margin-right: -7px;
}

// Fix for simple form issue: http://stackoverflow.com/questions/6748446/rails-simple-form-gives-dots-under-stars-for-required-fields-better-way-to-remo
abbr, accronym {
  border-bottom: 0px !important;
}

/*try adding !important  after 0px if doesn't work*/

//Multiple input list on forms with + button to add more input fields dynamically
.multiple-input-list {
  display: flex;
  flex-wrap: wrap;
}

.multiple-list-item {
  padding: 3px;
  margin: 3px 3px 3px 0px;
  background-color: whitesmoke;
  border-radius: 4px;
  width: 43%;
  display: inline;
}

.multiple-input {
  width: 85%;
  display: inline;
}

.multiple-input-delete {
  background: none;
  border: none
}

.dropdown-option-delete {
  background: none;
  border: none
}

.info-block {
  color: #005d7a;
  float: right;
  font-size: 20px;
  margin: 0px;
  width: 28px;
}

/* The max width is dependant on the container (more info below) */
.popover {
  max-width: 500px !important; /* Max Width of the popover (depending on the container!) */
}

// To make bootstrap button wrap button text into multiple lines
.btn {
  white-space: normal !important;
}

// Override margin for boostrap-s page-header
.page-header {
  margin: 20px 0 20px;
}

.keyword-pill {
  color: #ffffff;
  background-color: #8CA0A6;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: normal !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Sticky but not fixed footer
// http://cbracco.me/css-sticky-footer-effect/
html {
  height: 100%;
  position: relative;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 120px;
  min-height: 100%;
}

.footer {
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ddd;
  .footer-logo {
    display: block;
    float: right;
    margin: 0 5px;
    img { height: 64px; }
  }
}

// Vertically aligned
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center; /* Align the flex-items vertically */
  //justify-content: center; /* Optional, to align inner flex-items horizontally within the column  */
}

ul.featureblocks {
  padding: 10px 0;
  margin: 0 -10px;
  list-style: none;
  overflow: auto;

  li {
    float: left;
    width: 20%;
    padding: 0 12px;
    border-right: 1px dotted #ccc;
    &:last-child {
      border: none;
    }
    @media (max-width: $screen-md) {
      width: 50%;
      border-right: none;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
      font-weight: normal
    }
    a {
      color: #444;
    }
    p {
      margin: 5px 0;
    }
  }
}

.searchbox {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #efefef;
  position: relative;
  box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  text-align: center;
}

.homepage #sb-search {
  background-color: transparent;
  padding: 0;
}

sup {
  vertical-align: top;
  position: relative;
  top: 5px;
}

.announcement {
  color: #333333;
  border: 1px solid #DDD;
  background: #FFFFCC;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  line-height: 1.7;
}