/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

.listing_item {
  border-style: solid;
  border-color: lightgray;
  padding: 10px;	

}

.nav_search_bar_container {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    margin-top: -20px;
}
.nav_search_bar {
	width: 30%;
    margin-left: auto;
}

.listing_container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}


.search_box_large {
    width: 80%;
    height: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;

    vertical-align: middle;
}

.remove_applied_filter {
    padding: 6px 10px;
    background-color: lightgray;   
}

.include_expired {
    float: right;
}
/*
 *Added from bootstrap CSS as a hack.
 */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #54f037;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}

.alert-notice {
    color: #3c763d;
    background-color: #9cf0a7;
    border-color: #d6e9c6;
    margin-top: 10px;
    padding: 5px;
    border: 1px;
    border-color: #77bf82;
    text-align: center;
}
.alert-notice hr {
    border-top-color: #c9e2b3;
}

.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-top: 5px;
}
.alert-alert hr {
    border-top-color: #e4b9c0;
}
.alert-alert .alert-link {
    color: #843534;
}
