/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

.elixir-black-header {
    background-color: #333333;
    border-bottom: 1px solid #eeeeee;
}

.elixir-orange-header {
    background-color: #F0721E;
    margin-bottom:10px;
}

/* Navbar colours */
$bgDefault      : #F0721E;
$bgHighlight    : #A33F00;
$colDefault     : #ffe6d1;
$colHover       : #333333;
$colHover2      : #eeeeee;

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;

    .navbar-brand {
        height: 100px;
    }

    .nav-pills {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;
                }
            }
        }
        .active {
            > a, > a:hover, > a:focus {
                color: $colDefault;
                background-color: $bgHighlight;
            }
        }
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover;
                }
            }
        }
    }

    .navbar-nav {
        > li {
            > a {
                color: $colHover2;
                &:hover, &:focus {
                    color: $colHover;
                    background-color: $colHover2;
                }
            }
        }
        .active {
            > a, > a:hover, > a:focus {
                background-color: $bgHighlight;
                color: $colDefault;
            }
        }
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover;
                }
            }
        }
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault;
                }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover;
                    }
                }
            }
        }
    }
}


// Bootstrap's breadcrumbs
.breadcrumb {
    margin-bottom: 10px;
}

// Style for empty results etc.
.empty {
    color: #aaaaaa;
    font-style: italic;
}

// Bootstrap's primary button
.btn-primary {
    background: #206B82;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #085871;
}

.btn-primary:active, .btn-primary.active {
    background: #064559;
}

div#sidebar{
    padding: 0px;
    border: solid #cccccc;
    border-width: 0px 1px 0px 0px;
    height:100%;
}
div#sidebar table tr td.h4{
    padding-left: 10px;
}

div#sidebar table tr td{
    padding-left: 20px;
}

// Bootstrap's row
.row {
    margin: 10px 0px 10px 0px;
    height: 100%;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
body, html {
    height: 100%;
}
div.wrapper {
    *zoom: 1;
    background-color: #FFF;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 0;
    display: table;
    width: 100%;
    height: 100%; /* this will be treated as a Minimum! It will stretch to fit content */
}

div#sidebar table tr td a:hover {
    //color: #000;
    background-color: #B0C3C9;
    padding: 3px;
    text-decoration: none;
}
