.breakdown-score{
  background-color: #eeeeee;
  padding: 9px;
  margin: 5px;
}
.score-value {
  height: 80px;
  display: flex;
  align-items: center;
}
.score-desc{
  height: 80px;
  display: flex;
  align-items: center;
}
.score-box{
  background-color: #eeeeea;
  padding: 10px;
  margin: 10px;
}