#google-map-form {
  position: relative;
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.google-map {
  height: 250px;
  width: 400px;
  float: right;
  margin: 0 0 10px 10px;

  @include xs {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

#report {
  clear: both;
}

.events-loading-screen {
  width: 20%;
  margin-left: 40%;
  padding-top: 100px;
}

.ol-popup {
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #FFFFFFAA;
  padding: .01em .5em .5em .5em;
  backdrop-filter: blur(2px);
  overflow: auto;
  max-height: 50vh;
  max-width: 50vw;
}

.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 150%;
  padding: 0 4px;
  color: gray;
  text-decoration: none;
}

.ol-popup-closer:after {
  content: "\2716";
}
