.footer {
  border-top-left-radius: $footer-border-radius;
  border-top-right-radius: $footer-border-radius;
  border-top: solid 3px $footer-border;
  margin-top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $footer-bg;
  color: $footer-text;
  padding-top: $footer-padding-top;

  @media (max-width: $screen-sm) {
    padding-top: 0;
  }

  hr {
    border-color: $primary-color;
  }

  a {
    color: $footer-text;
    background-color: transparent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h5, h6 {
    font-weight: bold;
  }

  .footer-item {
    margin: 6px;

    a {
      color: $gray-light;
    }
  }

  .container {
    padding: 0;
  }

  .footer-logo {
    img {
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: 12px;
      height: 50px;
    }

    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .footer-logo-lg {
    img {
      height: 100px;
    }
  }

  .eu-notice {
    text-align: left;
    color: $gray;
    img {
      float: left;
      height: 50px;
      margin: 0.5em;
    }
  }

  .version {
    margin-bottom: 25px;
  }
}
