.elixir-black-header {
  height: 35px;
  line-height: 35px;
  background-color: #333333;
  border-bottom: 1px solid #eeeeee;

  .user-options {
    float: right;
    a {
      display: block;
      float: left;
      padding: 0 10px;
      color: #eee;
      &:hover {
        color: #333;
        background: #eee;
      }
    }
  }
}

.elixir-orange-header {
  background-color: $bgDefault;
  ul.navbar-nav {
    margin-top: 10px;
    li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 3px;
    }
  }

  .navbar-brand {
    padding: 0 20px;
  }

  .navbar {
    margin-bottom: 0px;
  }
}

#search-box {
  input {
    width: 100%;
  }

  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    input {
      width: 160px;
    }
  }
  @media (min-width: $screen-lg) {
    input {
      width: 280px;
    }
  }
  /* The following is needed to make the search bar 100% wide between 'sm' and 'md' screen sizes */
  /* See: http://stackoverflow.com/a/24985419 */
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .input-group {
      width: 100%;
      .input-group-btn {
        width: 32px;
      }
      .form-control {
        width: 100%;
      }
    }
  }
}
