.unified-header {
  background-color: $unified-header-bg;
  margin-bottom: 25px;

  .navbar-brand {
    height: auto;
  }

  .icon-bar {
    background-color: $primary-color;
    color: $primary-color;
  }

  .navbar-toggle {
    padding: 18px;
  }

  .in {
    .dropdown-menu {
      text-align: center;
    }
  }

  .navbar-nav {
    float: right;

    @media (max-width: $screen-sm-max) {
      float: none;
      text-align: center;
    }

    margin-top: 18px;

    li {
      a {
        &:not(.btn) {
          color: $gray-darker;
          padding-top: 10px;
          padding-bottom: 10px;
          text-decoration: none;
        }

        &:hover {
          color: $accent-color;
          background-color: transparent;
        }
      }
    }
  }

  .user-options {
    .btn {
      margin-left:5px;
      margin-right: 5px;
    }
    a.btn-icon {
      padding: 5px 0;
    }

  }
}
