.unified-header {
  background-color: $unified-header-bg;
  margin-bottom: 25px;

  .navbar-brand {
    height: auto;
  }

  .icon-bar {
    background-color: $primary-color;
    color: $primary-color;
  }

  .navbar-toggle {
    padding: 18px;
  }

  .in {
    .dropdown-menu {
      text-align: center;
    }
  }

  .navbar-nav {
    float: right;

    @media (max-width: $screen-md) {
      float: none;
      text-align: center;
    }

    margin-top: 18px;

    li {
      a {
        color: $dark-color;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;

        &:hover {
          color: $accent-color;
          background-color: transparent;
        }
      }
    }
  }

  .user-options {
    .btn {
      margin-left:5px;
      margin-right: 5px;
    }
    a.btn-primary {
      color: #F4F7FB;
      background-color: #F47D21;
      border-color: #F4F7FB;

      &:hover {
        color: #F4F7FB;
        background-color: #d7640b;
        border-color: #c7d6eb;
      }
    }
    a.btn-default {
      color: #F47D21;
      border-color:  #F47D21;

      &:hover {
        filter: brightness(90%);
      }
    }
    a.btn-icon {
      padding: 5px 0;
    }

  }
}
