.icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.icon-xxs {
  width: $font-size-xxs;
  height: $font-size-xxs;
}

.icon-xs {
  width: $font-size-xs;
  height: $font-size-xs;
}

.icon-sm {
  width: $font-size-small;
  height: $font-size-small;
}

.icon-md {
  width: $font-size-base;
  height: $font-size-base;
}

.icon-lg {
  width: $font-size-large;
  height: $font-size-large;
}

.icon-h4 {
  width: $font-size-h4;
  height: $font-size-h4;
}

.icon-h3 {
  width: $font-size-h3;
  height: $font-size-h3;
}

.icon-h2 {
  width: $font-size-h2;
  height: $font-size-h2;
}

.icon-h1 {
  width: $font-size-h1;
  height: $font-size-h1;
}

.icon-greyscale {
  filter: grayscale(1);
}

.icon-invert {
  filter: invert(1);
}

.api-icon {
  // image-url
  background-image: image-url("#{$theme-base}/icons/api-icon.svg");
}

.star-icon {
  background-image: image-url("#{$theme-base}/icons/star-icon.svg");
}

.star-fill-icon {
  background-image: image-url("#{$theme-base}/icons/star-fill-icon.svg");
}

.star-primary-icon {
  background-image: image-url("#{$theme-base}/icons/star-primary-icon.svg");
}

.star-primary-fill-icon {
  background-image: image-url("#{$theme-base}/icons/star-primary-fill-icon.svg");
}

.search-icon {
  background-image: image-url("#{$theme-base}/icons/search-icon.svg");
}

.arrow-right-icon {
  background-image: image-url("#{$theme-base}/icons/arrow-right-icon.svg");
}

.arrow-top-right-icon {
  background-image: image-url("#{$theme-base}/icons/arrow-top-right-icon.svg");
}

.arrow-top-right-white-icon {
  background-image: image-url("#{$theme-base}/icons/arrow-top-right-white-icon.svg");
}

.chevron-left-icon {
  background-image: image-url("#{$theme-base}/icons/chevron-left-icon.svg");
}

.chevron-right-icon {
  background-image: image-url("#{$theme-base}/icons/chevron-right-icon.svg");
}

.circle-xmark-icon {
  background-image: image-url("#{$theme-base}/icons/circle-xmark-icon.svg");
}

.class-icon {
  background-image: image-url("#{$theme-base}/icons/class-icon.svg");
}

.clear-filters-icon {
  background-image: image-url("#{$theme-base}/icons/clear-filters-icon.svg");
}

.community-icon {
  background-image: image-url("#{$theme-base}/icons/community-icon.svg");
}

.cross-icon {
  background-image: image-url("#{$theme-base}/icons/cross-icon.svg");
}

.developer-icon {
  background-image: image-url("#{$theme-base}/icons/developer-icon.svg");
}

.double-left-icon {
  background-image: image-url("#{$theme-base}/icons/double-left-icon.svg");
}

.double-right-icon {
  background-image: image-url("#{$theme-base}/icons/double-right-icon.svg");
}

.events-icon {
  background-image: image-url("#{$theme-base}/icons/events-icon.svg");
}

.filter-icon {
  background-image: image-url("#{$theme-base}/icons/filter-icon.svg");
}

.hourglass-icon {
  background-image: image-url("#{$theme-base}/icons/hourglass-icon.svg");
}

.hybrid-event-icon {
  background-image: image-url("#{$theme-base}/icons/hybrid-event-icon.svg");
}

.materials-icon {
  background-image: image-url("#{$theme-base}/icons/materials-icon.svg");
}

.microscope-icon {
  background-image: image-url("#{$theme-base}/icons/microscope-icon.svg");
}

.minus-icon {
  background-image: image-url("#{$theme-base}/icons/minus-icon.svg");
}

.nonprofit-icon {
  background-image: image-url("#{$theme-base}/icons/nonprofit-icon.svg");
}

.onsite-event-icon {
  background-image: image-url("#{$theme-base}/icons/onsite-event-icon.svg");
}

.plus-icon {
  background-image: image-url("#{$theme-base}/icons/plus-icon.svg");
}

.search-icon {
  background-image: image-url("#{$theme-base}/icons/search-icon.svg");
}

.search-icon-blue {
  background-image: image-url("#{$theme-base}/icons/search-icon-blue.svg");
}

.sort-icon {
  background-image: image-url("#{$theme-base}/icons/sort-icon.svg");
}

.source-code-icon {
  background-image: image-url("#{$theme-base}/icons/source-code-icon.svg");
}

.star-icon {
  background-image: image-url("#{$theme-base}/icons/star-icon.svg");
}

.sustainable-icon {
  background-image: image-url("#{$theme-base}/icons/sustainable-icon.svg");
}

.trainers-icon {
  background-image: image-url("#{$theme-base}/icons/trainers-icon.svg");
}

.online-event-icon {
  background-image: image-url("#{$theme-base}/icons/virtual-event-icon.svg");
}

.workflows-icon {
  background-image: image-url("#{$theme-base}/icons/workflows-icon.svg");
}

.expand-icon {
  background-image: image-url("#{$theme-base}/icons/expand-icon.svg");
}

.collapse-icon {
  background-image: image-url("#{$theme-base}/icons/collapse-icon.svg");
}

.information-icon {
  background-image: image-url("#{$theme-base}/icons/info-icon.svg");
}
