// ######## Media-bricks modified from CKAN
.media-grid {
  margin: 0px 0px 15px 0px;
  list-style: none;
  *zoom: 1;
  padding-bottom: 15px;
  padding-left: 0;
}

.media-grid:before,
.media-grid:after {
  display: table;
  content: "";
  line-height: 0;
}

.media-grid:after {
  clear: both;
}

.media-item {
  position: relative;
  float: left;
  min-width: 150px;
  width: 30%;
  @include sm {
    width: 45%;
  }
  @include xs {
    float: none;
    width: 95%;
  }
  padding: 10px;
  margin: 10px 0 0 10px;
  background-color: white;
}

.media-item.long {
  width: 90%;
}

.media-item span.count {
  color: #999;
}

.media-item .media-image {
  margin-bottom: 5px;
}

.media-item .media-edit {
  opacity: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.media-item:hover {
  z-index: 1;
}

.media-item:hover .media-edit {
  opacity: 1;
}

li.media-item {
  list-style-type: none;
}

.media-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 0;
  -ms-word-break: break-all;
  word-break: break-word;
  /* Non standard for webkit */
  //word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  @include floating-card;
}

.media-view:hover,
.media-view.hovered {
  border-color: #005d7a;
}

.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #005d7a;
}

.media-view span {
  display: none;
}

.media-view .banner {
  display: block;
  background-color: #b7b7b7;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

//.media-image {
//  -webkit-border-radius: 4px;
//  -moz-border-radius: 4px;
//  border-radius: 4px;
//}

.media-item .media-heading {

  font-size: 16px;
  line-height: 1.3;
  color: #005d7a;
  margin: 5px 0;
  -ms-word-break: break-all;
  word-break: break-word;
  /* Non standard for webkit */
  //word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.media-overlay {
  position: relative;
  min-height: 35px;
}

.media-overlay .media-heading {

}

.media-overlay .media-image {
  float: none;
  display: block;
  margin-right: 0;
}
