// ######## Media-bricks modified from CKAN
.media-grid {
  margin: 0 0 15px 0;
  list-style: none;
  *zoom: 1;
  padding-bottom: 15px;
  padding-left: 0;
}

.media-grid:before,
.media-grid:after {
  display: table;
  content: "";
  line-height: 0;
}

.media-grid:after {
  clear: both;
}

.media-item {
  position: relative;
  float: left;
  min-width: 150px;
  width: 30%;

  @include sm {
    width: 45%;
  }

  @include xs {
    float: none;
    width: 95%;
  }

  background-color: white;
}

.media-item.large {
  width: 45%;

  @include sm {
    float: none;
    width: 95%;
  }

  @include xs {
    float: none;
    width: 95%;
  }
}

.media-item.long {
  width: 100%;
}

.media-item span.count {
  color: #999;
}

.media-item .media-image {
  margin-bottom: 5px;
}

.media-item .media-edit {
  opacity: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.media-item:hover {
  z-index: 1;
}

.media-item:hover .media-edit {
  opacity: 1;
}

.link-overlay {
  text-decoration: none;
  color: $gray-darker;
  @include floating-card;
  border-radius: 8px;
  padding: $item-padding-base;
  display: block;
  transition: $transition-time;

  &:hover, &:focus {
    text-decoration: none;
    color: $gray-darker;
    background-color: #e8f3f6aa;
    border: 1px solid #e8f3f6;
    box-shadow: none;
  }

  &.no-padding {
    padding: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: $brand-primary;
  }

  p {
    margin-bottom: 0;
  }

  .with-left-icon {
    display: flex;

    .icon-container {
      padding-top: 5px;
      margin-right: 20px;
      margin-bottom: 10px;
      text-align: center;
      font-size: $font-size-small;
      width: 6em;
    }

    .right-container {
      flex: 1;
    }
  }

  .provider-avatar {
    float: right;
    height: $font-size-h2;
  }

  .elixir-node-icon {
    float: right;
    margin-left: 10px;
  }
}

li.media-item {
  list-style-type: none;
}

.masonry-brick {
  .masonry-brick-heading {
    display: block;
    padding: 5px 0;
    font-weight: 700;
    font-size: $font-size-h4;
    line-height: 1.3;
    color: $headings-color;
  }

  margin-bottom: 20px;

  .masonry-icons {
    float: right;
    margin-left: 10px;
  }
}
