// Place all the styles related to the Materials controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Boostrap's list items
.list-group-item {
  margin-bottom: 5px;
}

.list-group-item-heading .btn-default {
  background-color: #e6e6e6;
  font-weight: bold;
}

.list-group-item-heading .btn-default:hover {
  background-color: #b0c3c9; //#90B6C3;//#8BB3C0;
}

.list-group-item-heading a {
  text-align: left;
}

.external-resource-form {
  padding-bottom: 10px;
  margin-bottom: 10px;

  &.deleted {
    color: $brand-danger;
    text-decoration: line-through;
  }
}

.delete-external-resource-btn {
  @include delete-cross;

  cursor: pointer;

  input[type=checkbox] {
    display: none;
  }
}

.associate-tool {
  cursor: pointer;
}

#next-tools-button {
  width: 100%;
  margin-top: 30px;
}

.tooltypes {
  margin-bottom: 20px;
}

.typelabel {
  margin-right: 5px;
}
