div.staff-form {
  @include clearfix;

  .staff-member-fields {
    padding: 10px;

    @media (min-width: $screen-md) {
      width: 33%;
      float: left;
      padding-right: 20px;
    }

    margin: 10px 0;
    border-bottom: 1px solid #ddd;

    .delete-staff-member {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }

    &.pending-delete {
      background-color: $alert-danger-bg;
    }
  }

  margin-bottom: 10px;
}

img.large-flag {
  width: 32px;
  height: 24px;
}

img.small-flag {
  width: 16px;
  height: 12px;
}

.associated-node-link {
  padding: 10px;
  display: block;

  img.node-logo {
    display: block;
    margin-bottom: 10px;
    max-height: 100px;
    max-width: 100%;
  }
}
