div.staff-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .staff-member-fields {
    width: 100%;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      width: 48%;
    }

    @media (min-width: $screen-lg-min) {
      width: 31%;
    }

    margin: 10px 0;
    border-bottom: 1px solid #ddd;

    .delete-staff-member {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }

    &.pending-delete {
      background-color: $alert-danger-bg;
    }
  }

  margin-bottom: 10px;
}

img.large-flag {
  width: 32px;
  height: 24px;
}

img.small-flag {
  width: 16px;
  height: 12px;
}

.associated-node-link {
  padding: 10px;
  display: block;

  img.node-logo {
    display: block;
    margin-bottom: 10px;
    max-width: 50%;
    min-width: 100px;
  }
}
