#cy {
  height: 600px;
  width: 100%;
}

#workflow-toolbar {
  text-align: right;
  margin-bottom: 10px;
}

#workflow-status-bar {
  line-height: 34px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #eee;
  border-radius: 4px;
}

#workflow-status-message {
  margin-left: 10px;
  font-style: italic;
}

/* Hide the border from the predefined colour selector */
.simplecolorpicker span.color:hover, .simplecolorpicker span.color[data-selected],
.simplecolorpicker span.color[data-selected]:hover {
  border-color: transparent !important;
}

.workflows-container {
  padding: 0px 10px 10px 10px;
}

.workflow-diagram-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.workflow-diagram-container {
  border: 1px solid #ccc;
  display: flex;

  @media (max-width: $screen-md-min) {
    flex-direction: column-reverse;
  }
}

#workflow-diagram-sidebar {
  flex-shrink: 0;
  width: 300px;
  border-left: 1px solid #ccc;
  @media (min-width: $screen-lg-min) {
    width: 450px;
  }

  @media (max-width: $screen-md-min) {
    border-left: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
  }
}

#workflow-diagram-content {
  flex-grow: 1;
}

#workflow-diagram-sidebar-desc {
  padding: 10px;
}
