#cy {
  height: 600px;
  width: 100%;
}

#workflow-toolbar {
  text-align: right;
  margin-bottom: 10px;
}

#workflow-status-bar {
  color: #61c246;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 10px;
}