<p><%= t("devise.mailer.confirmations.welcome", email, @email)%></p>

<p><%= t("devise.mailer.confirmations.confirm_through_link")%></p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
