<p><%= t("devise.mailer.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.unlock_instructions.your_account_locked")%></p>

<p><%= t("devise.mailer.unlock_instructions.click_link")%></p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
