<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.confirmations.your_account_locked")%></p>

<p><%= t("devise.mailer.confirmations.click_link")%></p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
