<div class="multiple-list-item">
    <input type="text" autocomplete="off" class="multiple-input form-control" name="{{ prefix }}[]" value="{{ value }}"/>
    <a href="#" class="multiple-input-delete">&times;</a>
</div>
