<div class="multiple-list-item">
    <input type="text" autocomplete="off" class="multiple-input form-control" name="{{ prefix }}[]" value="{{ value }}"/>
    <a href="#" class="btn btn-icon multiple-input-delete" title="Delete">
        <i class="icon icon-sm cross-icon icon-greyscale"></i>
    </a>
</div>
