<div class="multiple-list-item">
    <input type="text" autocomplete="off" class="multiple-input form-control" name="{{ prefix }}[]" value="{{ value }}"/>
    <a href="#" class="btn btn-icon multiple-input-delete">
        <i class="icon icon-sm cross-icon icon-greyscale"></i>
    </a>
    <a class="btn btn-icon" data-role="multi-input-add" href="#">
        <i class="icon icon-h4 plus-icon"></i>
    </a>
</div>
