<%# Activity log partial that renders activity log for a resource.%>
<% if activities.blank? %>
  <p class="empty"><%= t('activity.empty') %></p>
<% else %>
  <% activities.each do |activity| %>
      <%= render_activity(activity, layout: :activity, display: "common/#{activity.key.split('.').last}") %>
  <% end %>
<% end %>
