<h2>Activity log</h2>

<%= will_paginate @activities, param_name: 'page', renderer: BootstrapPagination::Rails %>

<%= render partial: 'activities/activity_log', locals: { activities: @activities } %>

<%= will_paginate @activities, param_name: 'page', renderer: BootstrapPagination::Rails %>
