<h2>Activity log</h2>

<%= will_paginate @activities, param_name: 'page', renderer: BootstrapPagination::Rails %>

<% @activities.each do |activity| %>
    <div class="activity">
        <% if activity.owner -%>
            <%= link_to activity.owner[:username], activity.owner  %>
        <% else -%>
            Someone
        <% end -%>
        <%= render_activity activity %>
    </div>
<% end %>

<%= will_paginate @activities, param_name: 'page', renderer: BootstrapPagination::Rails %>
