<h4><%= t('events.long') %></h4>
<ul>
  <% events.each do |event| %>
    <li>
      <%= link_to event do %>
        <%= event.title %>
        -
        <%= [l(event.start, format: :long), l(event.end, format: :long)].compact.join(' - ') %>
      <% end %>
    </li>
  <% end %>
</ul>