<script type="text/javascript">
    var loadedCalendarScript = 0;

    function setupCalendarScript(){
        loadedCalendarScript = 1;
        google.charts.load("current", {packages:["calendar"]});
        google.charts.setOnLoadCallback(drawChart);
    }

    function drawChart() {
        if (!loadedCalendarScript){
            setupCalendarScript();
        }
        <% c = {} %>
        <% events.each{|x| c[x.start.to_s].nil? ? c[x.start.to_s] = 1 : c[x.start.to_s] += 1 } %>
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Count' });
        dataTable.addRows([
                <% c.each do |date, count| %>
                  [new Date('<%=date%>'), <%=count%>],
                <% end %>
        ]);

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {
            title: "Life Science Events",
            height: 350,
        };

        chart.draw(dataTable, options);
    }
</script>


<div id="calendar_basic" style="width: 100%; height: 350px;"></div>

