<%= info_box('What are events in TeSS?') do %>
    <p>
      An event in TeSS is a link to a single training event sourced by a provider along with description and other meta information (e.g. date, location, audience, ontological categorization, keywords, etc.).
    <p>
      TeSS harvests training events automatically, including descriptions and other relevant meta-data made available by providers.
    </p>
    <p>
      If your website contains training events that you wish to include in TeSS,
      please contact the TeSS team (<a href="mailto:tess@elixir-uk.info">tess@elixir-uk.info</a>) for further details.
    </p>
<% end %>