<% if @event.online? or @event.expired? or @event.started? %>
<div class="bounding-box pull-right">
  <% if @event.online? %>
      <%= icon_for(:online) %>
      <span class="gap"></span>
  <% end %>
  <% if @event.expired? %>
      <%= icon_for(:expired) %>
      <span class="gap"></span>
  <% end %>
  <% if @event.started? %>
    <%= icon_for(:started) %>
  <% end %>
</div>
<% end %>