<%= collapsible_panel('Suggested tools to associate with this resource', 'external-resources-box-biotools') do %>

<input type="hidden" id='title_element' value="<%=title_element%>">

<div class="input-group">
    <input type="text" class="form-control" id="tool_query" placeholder="Search bio.tools"/>
    <div class="input-group-btn">
      <span class="btn btn-default" id="search_tools"><i class="fa fa-search"></i></span>
    </div>
</div>


<div>
  <div class="tool-suggestions-header">
  <em>Data provided by <a href="http://bio.tools">ELIXIR Tools and Data Services Registry</a></em>
  <div>Click the <i class="fa fa-plus-square-o"></i> button to add a tool as an external resource.</div>
  </div>

  <div id="biotools-results">
  </div>

  <div class="load-more-results">
    <span id="next-tools-button" class="btn btn-default pull-right">Load more results</span>
  </div>
</div>
<% end %>