<input type="hidden" id='title_element' value="<%=title_element%>">

<div class="input-group">
    <input type="text" class="form-control" id="tool_query" placeholder="Search bio.tools"/>
    <div class="input-group-btn">
      <span class="btn btn-default" id="search_tools"><i class="fa fa-search"></i></span>
    </div>
</div>


<div class="row event-info-icons">
  <h4>Suggested tools to associate with this resource</h4>
  <em>Data provided by <a href="http://bio.tools">ELIXIR Tools and Data Services Registry</a></em>

  <div id="biotools-results">
  </div>
  <br>

  <div class="load-more-results">
    <i id="next-tools-button" class="btn btn-primary pull-right">Load more results</i>
  </div>
</div>