<% if resource -%>
    <% if resource.edit_suggestion -%>
    <div id="suggestions">
        <p>Suggested scientific topics (will be saved unless removed): </p>
        <p>
        <div id="suggestion-buttons">
            <% resource.edit_suggestion.scientific_topics.each do |s| -%>
            <a class="btn btn-warning multiple-input-add" id="add-topic-<%= s.preferred_label.gsub(/[^a-zA-Z]/,'') -%>"
               onclick="removeSuggestion('<%= s.preferred_label -%>')">
                <%= s.preferred_label -%>
                <i class="fa fa-close" ></i>
            </a>
            <input type="hidden" class="multiple-input form-control scientific_topic_names"
                   data-field="scientific_topic_name" data-model="material" name="material[scientific_topic_names][]"
                   value="<%= s.preferred_label -%>" readonly="readonly" id="hidden-suggestion-<%= s.preferred_label.gsub(/[^a-zA-Z]/,'') -%>">
            <% end -%>
        </div>
        </p>
    </div>
    <% end -%>
<% end -%>