
<div class="row bounding-box external-resources-box ">
  <% external_resources.each do |external_resource| %>

    <% unless hide_failing(external_resource) -%>
    <%= render :partial => 'common/external_resource.html.erb',
               :locals => {:external_resource => external_resource} %>
    <% end -%>

  <% end %>
</div>
