<div class="row event-info-icons">
  <% external_resources.each do |external_resource| %>
    <%= render :partial => 'common/external_resource.html.erb',
               :locals => {:external_resource => external_resource} %>
  <% end %>
</div>
