<%= collapsible_panel('Suggested policies, standards and databases to associate with this resource', 'external-resources-box-fairsharing') do %>

    <input type="hidden" id='title_element' value="<%=title_element%>">

    <div class="input-group">
      <input type="text" class="form-control" id="fairsharing_query" placeholder="Search fairsharing.org"/>
      <div class="input-group-btn">
        <span class="btn btn-default" id="search_fairsharing"><i class="fa fa-search"></i></span>
      </div>
    </div>

    <div class="bs-type-selectors">
      <ul>
        <li><input class="bstype" type="checkbox" name="bs_types[]" value="biodbcore" checked/> Databases</li>
        <li><input class="bstype" type="checkbox" name="bs_types[]" value="standard" checked/> Standards</li>
        <li><input class="bstype" type="checkbox" name="bs_types[]" value="policy" /> Policies</li>
      </ul>
    </div>


    <div class="row bounding-box">
      <div class="tool-suggestions-header">
        <em>Data provided by <a href="https://fairsharing.org">FAIRsharing</a></em>
        <div>Click the <i class="fa fa-plus-square-o"></i> button to add a tool as an external resource.</div>
      </div>

      <div id="fairsharing-api-key" style="display: none;"><%= Rails.application.secrets.fairsharing_api_key -%></div>
      <div id="fairsharing-next" style="display: none;"></div>
      <div id="fairsharing-previous" style="display: none;"></div>
      <div id=loading-spinner">
        <%= image_tag('loading42.gif', :class => 'loading_image') -%>
      </div>
      <div id="fairsharing-results">
      </div>
      <br>

      <div class="load-more-results">
        <i id="prev-bs-button" class="btn btn-primary pull-left" style="display: none;">Previous</i>
        <i id="next-bs-button" class="btn btn-primary pull-right" style="display: none;">Next</i>
      </div>
    </div>
<% end %>