name: Deployment checks

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DB_HOST: localhost
      DB_NAME: tess
      DB_USER: tess
      DB_PASSWORD: password
      SECRET_BASE_KEY: test_key
      RAILS_ENV: production
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
        name: Set up Ruby
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
        name: Bundle install
      - name: Configure and initialize database
        run: |
          cp test/config/test_tess.yml config/tess.yml
          cp config/secrets.github.yml config/secrets.yml
          cp config/ingestion.example.yml config/ingestion.yml
          bundle exec rake db:setup
      - run: bundle exec rake assets:precompile
        name: Run asset compilation
      - run: bundle exec whenever --update-crontab --set environment="$ENV"
        name: Run whenever update
