name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DB_HOST: localhost
      DB_NAME: tess
      DB_USER: tess
      DB_PASSWORD: password
      SECRET_BASE_KEY: test_key
      BASE_URL: http://localhost:3000
      CONTACT_EMAIL: email@email.com
      SENDER_EMAIL: email@email.com
      RAILS_ENV: test
    steps:
      - uses: harmon758/postgresql-action@v1
        with:
          postgresql db: '${DB_NAME}_test'
          postgresql user: ${DB_USER}
          postgresql password: ${DB_PASSWORD}
        name: Set up database

      - uses: actions/checkout@v2
        name: Set up Ruby

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
        name: Bundle install
      - name: Configure and initialize database
        run: |
          cp config/tess.example.yml config/tess.yml
          cp config/secrets.github.yml config/secrets.yml
          cp config/ingestion.example.yml config/ingestion.yml
          bundle exec rake db:test:prepare
      - run: bundle exec rails test
        name: Run tests
