<h4><%= TeSS::Config.site['title_short'] %> is supported by the following organisations &hellip;</h4>
<div class="col-sm-3 col-xs-1">Org. A</div>
<div class="col-sm-3 col-xs-1">Org. B</div>
<div class="col-sm-3 col-xs-1">Org. C</div>
<div class="col-sm-3 col-xs-1">Org. D</div>

