<div class="col-xs-12">
  <hr/>
  <div class="supporters">
    <%- TeSS::Config&.funders&.reverse&.each do |funder| %>
      <% unless funder[:only] && funder[:only] != 'footer' %>
        <%= link_to funder[:url], class: 'footer-logo', target: '_blank', rel: 'noopener' do %>
          <%= image_tag(funder[:logo]) %>
        <% end %>
      <% end %>
    <% end %>

    <%- if I18n.exists?('footer.eu_funding_html') && I18n.t('footer.eu_funding_html').present? %>
      <div class="eu-notice">
        <%= image_tag('elixir/eu-flag.svg') %>
        <div>
          <%== t('footer.eu_funding_html') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
