<div class="col-xs-12">
  <hr/>
  <div class="supporters">
    <%- TeSS::Config&.funders&.reverse&.each do |funder| %>
      <%= link_to funder[:url], class: 'footer-logo', target: '_blank', rel: 'noopener' do %>
        <%= image_tag(funder[:logo]) %>
      <% end %>
    <% end %>

    <%- if I18n.exists?('footer.eu_funding') %>
      <div class="eu-notice">
        <%= image_tag('elixir/eu-flag.svg') %>
        <div>
          <%== I18n.t('footer.eu_funding') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
