@import "bootstrap/mixins";
//////////////////////////////
// Design-specific variables
//////////////////////////////
$theme-base: 'themes/blue';

$primary-color: #024552;
$secondary-color: #00839d;
$accent-color: #40cbbd;

@import "mixins/modern_base";

//////////////////////////////
// Bootstrap variable tweaks
//////////////////////////////
$navbar-default-color: #fff;
$navbar-default-bg: $primary-color;
$navbar-default-link-color: #fff;

@import "../application";
