/* DReSA brand colours */
$dresa-purple: #6a57a5;
$dresa-blue: #19224e;
$dresa-green: #00b8b6;

/* TeSS colours */
$bgDefault: $dresa-blue;
$bgHighlight: darken($bgDefault, 10%);
$colDefault: #ffe6d1;
$colHover: #333;
$colHover2: #eee;

$grey-blue: #8ca0a6;

$blue: $dresa-blue;

$link-color: $blue;
$link-hover-color: lighten($link-color, 10%);
$link-hover-decoration: none;

$btn-primary-bg: $blue;

$pagination-color: $blue;
$pagination-active-bg: $blue;
$pagination-active-border: $blue;

$navbar-height: 60px;
$navbar-default-bg: $bgDefault;
$navbar-default-border: transparent;
$navbar-default-link-active-bg: $bgHighlight;
$navbar-default-link-hover-bg: $bgHighlight;
$navbar-default-link-color: $dresa-green; // $colDefault;
$navbar-default-link-active-color: lighten($navbar-default-link-color, 30%);
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 40%);

$navbar-default-toggle-hover-bg: $bgHighlight;
$navbar-default-toggle-icon-bar-bg: $colHover2;
$navbar-default-toggle-border-color: $bgHighlight;

$top-header-bg: black;
$top-header-border: $dresa-green;
$top-header-text: #eee;
$top-header-hover-text: #333;
$top-header-hover-bg: #eee;

$footer-bg: $dresa-blue;
$footer-border: $dresa-green;
$footer-text: white;

// define font faces
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Regular.ttf') format('truetype');
}

body,
p,
ol,
ul,
td {
  font-family: Montserrat, verdana, arial, helvetica, sans-serif;
}