// Global
//<link href="https://fonts.googleapis.com/css?family=Roboto:thin&display=swap" rel="stylesheet">

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:thin');
$font-family-base: 'Lato', sans-serif;

// Colors
$primary-color: #023452;
$secondary-color: #047EAA;
$accent-color: #F47D21;

$dark-color: #242526;
$dark-60-color: rgba(36, 37, 38, 0.6);
$dark-30-color: rgba(36, 37, 38, 0.3);
$dark-05-color: rgba(36, 37, 38, 0.05);

$light-color: #F4F7FB;
$light-60-color: rgba(244, 247, 251, 0.6);
$light-30-color: rgba(244, 247, 251, 0.3);
$light-05-color: rgba(244, 247, 251, 0.05);

// Font sizes
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 12px;

// Extended font sizes
$font-size-xs: 8px;
$font-size-xxs: 4px;

// Headings
$font-size-h1: 58px;
$font-size-h2: 44px;
$font-size-h3: 32px;
$font-size-h4: 24px;


// Header
$unified-header-bg: transparent;


// Footer
$footer-bg: $dark-05-color;
$footer-border: transparent;
$footer-text: $dark-color;
$footer-border-radius: 50px;
$footer-padding-top: 75px;

// TODO: check whether it's used somewhere
$brand-primary:  #047EAA;

$padding-base-vertical:     10px;
$padding-base-horizontal:   15px;

// Breadcrump
$breadcrumb-bg: transparent;
$breadcrumb-separator: "/";
$breadcrumb-color: $dark-color !default;
$breadcrumb-active-color: $dark-color !default;

// Links
$link-color: $accent-color;
$link-hover-color: darken(rgb(244, 125, 33), 15%);

