@import "bootstrap/mixins";
//////////////////////////////
// Design-specific variables
//////////////////////////////
@import "mixins/modern_base";

//////////////////////////////
// Bootstrap variable tweaks
//////////////////////////////
$navbar-default-color: #fff;
$navbar-default-bg: #000;
$navbar-default-link-color: #fff;

@import "../application";

.navbar {
  border-radius: 0 !important;
}

.unified-header .navbar-brand img {
  padding: 0 10px 10px 10px;
}

/* Unset the main container's max-width, but only on the front page (so we can have the full-width background) */
/* Then re-add it to the child sections */
#main-container:has(.tesshub-front) {
  max-width: unset;
  padding: 0;

  section {
    max-width: 1400px;
    margin: auto;
  }
}

.tesshub-front {
  margin: -30px auto 0;
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(#000 10%, #333);
  color: #fff;
  display: flex;
  justify-content: center;

  > div {
    max-width: 1400px;
  }

  input {
    color: $text-color;
  }
}

#welcome_text {
  position: relative;

  h1 {
    color: #fff;
  }
}


ul.promo-blocks {
  gap: 10px !important;
  flex-direction: column !important;

  li {
    width: 100% !important;
    h4 {
      color: lighten($brand-primary, 10%) !important;
    }

    p {
      color: #fff;
    }
  }
}
